<!DOCTYPE html>
<html>
   <head>
      <!-- meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- source -->
      <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

      <link rel="stylesheet" type="text/css" href="src/styles/market.css" />

   </head>
   <body>
      <div id="market">
      
         <div class="shop">
            <div class="header">
               <small> Prodavnica </small>
               <h2> {{ business.Name }} </h2>
               <i v-on:click="Close()" class="close fa fa-times"></i>
            </div>

            <div class="content">
               <ul class="products">
                  <li class="product" v-for="(product, i) in business.Products" v-on:click="Add(i, product.multiplier)"> 
                     <img :src="'package://player/inventory/inventory-interface/src/images/items/' + product.hash + '.png'" />
                     <h4 class="price"> {{ Dollars(product.multiplier * business.Multiplier) }} </h4>
                  </li>
               </ul>

               <div class="cart">               
                  <h2 class="title"> Vaša korpa - <b> {{ ItemsNumber() }} </b> </h2>
                  <transition-group name="slide" tag="ul" class="items" v-if="player.cart.length > 0">
                     <li class="item" v-for="(item, i) in player.cart" v-bind:key="item"> 
                        <h4> {{ truncate(item.name, 16) }} </h4>
                        <div class="info">
                           <button v-on:click="Remove(item, i)" class="minus"> <i class="fa fa-minus" aria-hidden="true"></i> </button>
                           <h3> {{ item.quantity }} </h3>
                           <button v-on:click="item.quantity ++" class="plus"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
                           <button v-on:click="RemoveAll(i)" class="trash"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                        </div>
                     </li>
                  </transition-group>
                  <h3 v-else class="empty-cart"> Vaša korpa je prazna. </h3>

                  <div class="bill">
                     <div class="price">
                        <h4> Cena </h4>
                        <h2> {{ Dollars(Total()) }} </h2>
                     </div>
                     <button :disabled="player.cart.length == 0" class="buy" v-on:click="Buy()"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
                  </div>
               </div>
            </div>
         </div>

      </div>
          
      <!-- scripts -->
      <script src="src/vendor/js/vue.js"></script>
      <script>
         let market = new Vue({
            el: '#market',
            data: {
               player: {
                  money: 0,
                  cart: []
               },


            business: {
               Name: '24 / 7 Prodavnica',
               Multiplier: 3.75,
               Products: {
                  'Medkit': { hash: 'prop_ld_health_pack', multiplier: 10.25 },
                  'Toolbox': { hash: 'v_ind_cs_toolbox2', multiplier: 12.75 },
                  'Jerrycan': { hash: 'w_am_jerrycan', multiplier: 17.8 },
                  'Rope': { hash: 'prop_stag_do_rope', multiplier: 5.25 },
                  'Cigarettes': { hash: 'prop_cigar_pack_01', multiplier: 6.8 },
                  'Pack of Beers': { hash: 'v_ret_ml_beerpis1', multiplier: 14.2 },
                  'Fishing Rod': { hash: 'prop_fishing_rod_01', multiplier: 15.1 },
                  'Hamburger': { hash: 'prop_cs_burger_01', multiplier: 6.05 },
                  'Chips': { hash: 'v_ret_ml_chips4', multiplier: 2.69 },
                  'Donut': { hash: 'prop_donut_02', multiplier: 2.18 },
                  'Sandwich': { hash: 'prop_sandwich_01', multiplier: 4.23 },
                  'Coffe': { hash: 'prop_fib_coffee', multiplier: 1.52 },
                  'Water Bottle': { hash: 'prop_ld_flow_bottle', multiplier: 1.32 },
                  'Cola Can': { hash: 'ng_proc_sodacan_01a', multiplier: 2 },
                  'Soda Can': { hash: 'ng_proc_sodacan_01b', multiplier: 1.88 },
                  'Energy Drink': { hash: 'prop_energy_drink', multiplier: 2.7 },
                  'Beer Bottle': { hash: 'prop_cs_beer_bot_02', multiplier: 3.6 },
                  'Juice Cup': { hash: 'ng_proc_sodacup_01c', multiplier: 3 },
                  'Whiskey Bottle': { hash: 'prop_whiskey_bottle', multiplier: 20 },
                  'Tequila Bottle': { hash: 'prop_tequila_bottle', multiplier: 18.9 },
                  'Vodka Bottle': { hash: 'prop_vodka_bottle', multiplier: 17.2 }
                  }
               }

            },

            methods: { 
               Close: () => { mp.trigger('client:business.market:menu'); },

               Add: function (name, multiplier) { 
                  const Already = this.player.cart.find(item => item.name == name);
                  if (Already) Already.quantity ++;
                  else this.player.cart.push({ name: name, multiplier: multiplier, quantity: 1 });
               },

               Remove: function (item, index) {
                  item.quantity --;
                  if (item.quantity < 1) this.player.cart.splice(index, 1);
               },
               
               RemoveAll: function (index) {
                  this.player.cart.splice(index, 1);
               },

               Total: function () { 
                  let price = 0;
                  for (const item of this.player.cart) { 
                     console.log(item)
                     price += (item.multiplier * this.business.Multiplier) * item.quantity;
                  }
                  return price;
               },

               ItemsNumber: function () { 
                  let count = 0;
                  for (const item of this.player.cart) { 
                     count += 1 * item.quantity;
                  }
                  return count;
               },

               truncate: function (str, n) { return (str.length > n) ? str.substr(0, n-1) + '...' : str; },

               Dollars: (i) => { return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(i); },

               Buy: function () { 
                  if (this.player.cart.length < 1) return;
                  const Price = this.Total(), Items = this.player.cart;
                  mp.trigger('client:business.market:buy', parseInt(Price), JSON.stringify(Items), this.business.id);
               }
            }
         })
      </script>
   </body>     
</html>
