<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>
        <div id="market">
            <div class="header">
                <img src="src/images/basket-icon.png" />
                <h2> {{ bussines.name }}</h2>
                <i @click="close()" class="close fa fa-times" aria-hidden="true"></i>
            </div>

            <div class="content">
                <div class="products" >
                    <div class="item" v-for="(item, key) in bussines.items" @click="add(key, item.price)">
                        <!-- {{ key }} - {{ item }} - {{ item.icon }} -->
                        <img v-bind:src="'src/images/items/' + item.icon + '.png'" />
                        <h2> {{ item.price }} $</h2>
                    </div>
                </div>

                <div class="cart" v-if="player.cart.length > 0">
                    <div class="item" v-for="(item, i) in player.cart" @click="remove(i)">
                        {{ item.item }} : <b>{{ item.price }}$</b>
                    </div>

                    <div class="bill" >
                        <h2> Račun <b>{{ total() }}</b>$ </h2>
                        <button @click="cashout()">Kupi</button>
                    </div>
                </div>

                <div class="info">
                    <p>Klikom na predmet u listi produkata dodajete isti u <b>korpu</b>. <br>
                    Klikom na predmet u korpi, mačinjete isti iz kopre</p>
                </div>
            </div>

        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let market = new Vue({
                el: '#market',
                data: {
                    player: {
                        money: 3000,
                        cart: []
                    },

                    bussines: { 
                        name: 'Test ime Biznisa', id: 1,
                        items: {
                            'Kanister': { icon: 'kanister', price: 19 },
                            'Flasa Piva': { icon: 'pivo', price: 3 },
                        },
                    },
                },

                methods: { 
                    close: () => { mp.trigger('client:market.toggle', false); },

                    add: function (name, price) { 
                        this.player.cart.push({ item: name, price: price })
                    },

                    remove: function (i) { 
                        let index = this.player.cart.indexOf(i);
                        this.player.cart.splice(index, 1);
                    },

                    total: function () { 
                        let price = 0;
                        for (let i in this.player.cart) { price = price + this.player.cart[i].price; }
                        return price;
                    },

                    empty: function () {
                        this.player.cart = [];
                    },

                    cashout: function() {
                        let items = this.player.cart;
                        let bill = this.total();
                        setTimeout(() => { this.empty(); }, 200);
                        mp.trigger('client:market.buy', bill, JSON.stringify(items))
                    }
                }
            })
        </script>
    </body>     
</html>
