html, body {
    /*background-color: transparent !important;*/
    font-family: Helvetica Neue, Helvetica, sans-serif !important;
    height: 100%;
    overflow: hidden; 
    background-color: transparent !important;
    /* maknuti bg */
}

.crnilo { padding-top: 5%;; width: 100%; height: 100%; backdrop-filter: blur(10px); background: rgba(0 0 0 / 45%); }

* { user-select: none; }

.odeca {float: right;box-shadow: 0 14px 25px rgba(0,0,0,.16);background: rgb(0 0 0 / 0.05);width: 20%;height: 100%;overflow-y: scroll;}
.odeca .naslov { padding: 15px 20px; background: linear-gradient(90deg, rgb(103 35 118 / 81%), rgb(4 149 232 / 74%)), url('slike/pozadina.png'); color: #f3f3f3;
    letter-spacing: 2px; font-weight: 200;  text-shadow: 0px 0px 2px rgb(0 0 0 / 65%); }

.odeca .sadrzaj { padding-bottom: 20px; }
.odeca .sadrzaj_2 { padding-bottom: 20px; }
.odeca .sadrzaj_3 { padding-bottom: 20px; }
.form-group {margin: 0 auto;width: 80%;margin-top: 25px;background: rgb(80 80 80 / 9%);border: 1px solid rgb(218 220 224 / 5%);padding: 15px 10px;border-radius: 10px;}
.form-group label { display: block; color: white; font-weight: 200; letter-spacing: 1.2px; text-shadow: 0px 0px 2px rgb(0 0 0 / 65%); }

.slajder { -webkit-appearance: none;  display: block;  width: 100%; height: 1px; margin: 0 auto; margin-top: 15px;
    background: -webkit-linear-gradient(180deg, #046eac, #8b10a9); border: none; outline: none; transition: all 0.5s ease; }
.slajder:hover { filter: brightness(1.1) }
.slajder::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 10px; height: 10px; border-radius: 100%;  background: rgb(255 255 255); border: 2px solid #b9b9b9; cursor: pointer; }
.slajder::-moz-range-thumb { width: 25px; height: 25px; border-radius: 100%;  background: black; border: 1px solid #169de4; cursor: pointer; }

::-webkit-scrollbar {width: 7px; }
::-webkit-scrollbar-track {background: rgb(0 0 0 / 26%); }
::-webkit-scrollbar-thumb { background: linear-gradient(0deg, rgba(124,71,160,1) 0%, rgba(3,104,162,1) 100%); border-radius: 50px; height: 400px; }

.drzac-rotacije {width: 300px;height: auto;position: absolute;right: 25%;box-shadow: 0 14px 25px rgba(0,0,0,.16);background: rgb(255 255 255 / 0.05);padding: 15px 30px;border-radius: 10px;color: white;text-align: center;bottom: 10px;}

.rotacija { -webkit-appearance: none;  display: block;  width: 100%; height: 1px; margin: 0 auto; margin-top: 15px;
    background: -webkit-linear-gradient(180deg, #046eac, #8b10a9); border: none; outline: none; transition: all 0.5s ease; }
.rotacija:hover { filter: brightness(1.1) }
.rotacija::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 10px; height: 10px; border-radius: 100%;  background: rgb(255 255 255); border: 2px solid #b9b9b9; cursor: pointer; }
.rotacija::-moz-range-thumb { width: 25px; height: 25px; border-radius: 100%;  background: black; border: 1px solid #169de4; cursor: pointer; }