html, body {
  background-color: transparent !important;
  height: 100%;
  overflow: hidden;
  /* background: grey; */
}

* { user-select: none; }

.close {position: absolute;right: 15px;top: 5px;padding: 4px 8px;cursor: pointer;color: whitesmoke;background: rgb(0 0 0 / 14%);font-size: 35px;margin: 7px;border-radius: 5px;z-indeX: 99999;text-align: center;transition: all 0.5s ease;}
.close:hover { opacity: 0.5; }

#mother-faces, #father-faces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
}

.face-photo { width: 75px; height: 75px; background: #141418; border-radius: 5px; transition: all 0.5s ease; }
.face-photo:hover { opacity: 0.5; }

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: rgb(0 0 0 / 26%); }
::-webkit-scrollbar-thumb { background: linear-gradient(0deg, rgba(124,71,160,1) 0%, rgba(3,104,162,1) 100%); border-radius: 50px; height: 400px; }

.blend-data, .character-info { display: none; }

.face-photo.selected { transition: 0.5s ease; background: rgb(7 144 227 / 60%); }


.handler {
  height: 100vh;
  box-shadow: -10px 0 10px rgb(0 0 0 / 10%);
  overflow: hidden;
  width: 450px;
  position: absolute;
  top: 0;
  right: 0;
  background: #141418;
}

.customizators { 
  position: absolute;
  display: flex;
  width: 450px;
  transition: all 0.5s ease;
  height: 90%;
}

.customizator { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 10px 20px;
  transition: 0.5s ease;
  color: #5d5d5d;
}

.footer { 
  position: absolute; 
  bottom: 10px;
  width: 100%;
  padding: 10px 20px;
}

.footer .indicators { width: 250px; margin: auto; display: flex; justify-content: space-around; }

.indicators .indicator {     
  width: 11px; height: 11px; display: block; margin: 8px 0; border-radius: 10px;
  background: linear-gradient(45deg, rgb(7 144 227) 0%, rgb(69 65 142) 100%); opacity: 0.2;
  transition: all .3s;  transition: all 0.5s ease; cursor: pointer;
}

.indicator.active { opacity: 1 !important; width: 40px !important; box-shadow: 0px 0px 20px rgb(11 137 218 / 25%); }

.finish { 
  width: 100%; 
  text-align: center; 
  margin-top: 10px;
  padding: 10px 25px;
  color: whitesmoke;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 200;
  letter-spacing: 1.4px;
  border: none;
  box-shadow: 0px 0px 20px rgb(11 137 218 / 5%);
  font-size: 21px;
  background: linear-gradient(45deg, rgb(7 144 227) 0%, rgb(69 65 142) 100%);
}

.finish:focus { outline: none; }
.finish:hover { box-shadow: 0px 0px 20px rgb(11 137 218 / 25%); opacity: 0.75; transform: scale(1.02); }

.header { padding: 10px 20px; }
.header h3 { font-weight: 200; color: #cdcdcd; text-transform: uppercase; position: relative; }
.header h3::after { content: ''; position: absolute; left: 0; width: 75px; height: 2px; background: #0d8cde; bottom: -8px; box-shadow: 0px 0px 20px rgb(11 137 218 / 45%); }

.content {
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  overflow-y: auto;
  height: 90%;
}

#face-features { margin-left: 25px; }

.content h4 {color: grey;font-weight: 100;margin-bottom: 25px;font-size: 19px;}
.content input { text-align: center; }

input[type='text'] {background: #0c0c0e;border: none;border-bottom: 2px solid #252830;color: #cdcdcd;padding: 5px 10px;transition: all 0.5s ease;margin: 10px;}
input:focus { outline: none; border-color: #0790e3; }

label { color: #777777; }

.slider-handler { 
  margin-bottom: 10px;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #3e424f;
  outline: none;
  opacity: 0.7;
  transition: all .3s;
}

.slider:hover { opacity: 1; background: #252830; }
.slider:hover::-webkit-slider-thumb { box-shadow: 0px 0px 20px rgb(11 137 218 / 35%); }
.slider:focus { outline: none; border: none; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  transition: all 0.5s ease;
  border-radius: 20px;
  background: #1085d8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #305cab;
  cursor: pointer;
}


.gender-select { width: 100%; padding: 5px; display: flex; justify-content: space-around; margin-top: 10px; }
.gender-select .gender { width: 150px; padding: 10px 20px; background: #252830; text-align: center; font-size: 18px; letter-spacing: 1.2px; color: grey; border-bottom: 2px solid transparent; transition: all 0.5s ease; }
.gender-select .gender.selected { border-color: #0d8cde; color: white; }
.gender-select .gender:hover { background: #2c303a; color: #cdcdcd; box-shadow: 0px 0px 20px rgb(0 0 0 / 15%); }

.basic-info { width: 100%; display: flex; justify-content: center; flex-wrap: wrap; text-align: center; margin-top: 15px; }
.basic-info input { width: 70%; }

.birth-origin { width: 100%; display: flex; justify-content: center; flex-wrap: wrap; text-align: center; margin-top: 15px; }
.birth-origin h4, input { width: 70%; }

input[type=date] {
  height: 35px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #252830;
  outline: none;
  border: 0;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
  padding: 0 3px;
  color: rgb(153, 153, 153);
}

input[type=date]:focus { color: whitesmoke; }


.pause-song { position: absolute; bottom: 10px; width: 100% }
.pause-song h2 { letter-spacing: 2px; width: 500px; padding: 10px 20px; margin: auto; background: linear-gradient(45deg, rgb(7 144 227) 0%, rgb(69 65 142) 100%); text-align: center; border-radius: 50px; color: whitesmoke; font-weight: 100; font-size: 20px; text-transform: uppercase; }
.pause-song h2 b { border-bottom: 1px solid white; }




