<!DOCTYPE html>
<html>
   <head>
   <!-- meta tags-->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <!-- source -->
   <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
   <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

   <link rel="stylesheet" type="text/css" href="src/styles/help.css" />

   </head>
   <body>

      <div id="help">
         <transition name="fade">
            <div v-if="page == 'home'" class="help" >
               <div class="header">
                  <h2> Pomoć </h2>
                  <p> Ovde možete pronaći osnovne informacije koje su vam potrebne i koje vam mogu pomoći pri igri na serveru.</p>
                  <h3 class="askq" v-on:click="page == 'askq'"> <i class="fas fa-question"> </i> Pitaj Admina </h3>
               </div>
               <ul class="navigation">
                  <li v-for="(item, i) in Help" v-on:click="Page(i)"> 
                     <i :class="item.icon" aria-hidden="true"> </i>
                     <h3> {{ item.title }} </h3>
                  </li>
               </ul>
            </div>
            <div v-else class="board">
               <h2> {{ Help[page].title }} </h2>
               <div class="info">
                  <ul v-if="Help[page].content.List">
                     <li v-for="(item, i) in Help[page].content.List"> {{ item }} </li>
                  </ul>
               </div>
            </div>
         </transition>
      </div>

      <!-- scripts -->
      <script src="src/vendor/js/vue.js"> </script>
      <script>
         let help = new Vue({
            el: '#help',
            data: {

               page: 'home',

               Help: { 
                  Faq: { title: 'FAQ', icon: 'icon fa fa-question-circle', content: {
                     List: ['Gde se mogu zaposliti ? Poslovi su označeni na mapi.', 'Gde mogu podići / ostaviti pare u banku ? Svi bankomati na mapi i banke su funkcionalne.']
                  } },
                  Basic: { title: 'Osnovno', icon: 'icon fa fa-info-circle', content: null },
                  Items: { title: 'Predmeti', icon: 'icon fas fa-archive', content: null },
                  Property: { title: 'Imovina', icon: 'icon fas fa-building', content: null },
                  Vehicle: { title: 'Vozila', icon: 'icon fas fa-car', content: null },
                  Phone: { title: 'Telefon', icon: 'icon fas fa-mobile', content: null },
                  Law: { title: 'Zakon', icon: 'icon fas fa-balance-scale-right', content: null },
                  Radio: { title: 'Radio', icon: 'icon fas fa-podcast', content: null },
                  Job: { title: 'Posao i Hobi', icon: 'icon fas fa-tasks', content: null },
                  Faction: { title: 'Fakcija', icon: 'icon fas fa-sitemap', content: null },
                  Admin: { title: 'Admin', icon: 'icon fas fa-user-cog', content: null },
                  Animations: { title: 'Animacije', icon: 'icon fas fa-walking', content: null }
               }
            },

            computed: { 
               Search: function () { 

               },
            },

            methods: { 

               Close: function () { mp.trigger('client:players:online'); },
               Page: function (i) { console.log(i); this.page = i; }

            }
         });

         
      </script>
   </body>     
</html>
