<!DOCTYPE html>
<html>
   <head>
   <!-- meta tags-->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <!-- source -->
   <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
   <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

   <link rel="stylesheet" type="text/css" href="src/styles/onlines.css" />

   </head>
   <body>

      <div id="onlines">

         <div class="header">
            <div class="title">
               <i class="fa fa-users" aria-hidden="true"> </i>
               <h2> Online Igrači <b> {{ players.length }} / 500 </b> </h2>
            </div>

            <div class="search">
               <input type="text" v-model="search" placeholder="Pretraga...">
            </div>
         </div>

         <div class="table">
            <table class="players">
               <thead>
                  <tr>
                     <th class="id"> # ID</th>
                     <th> Ime igrača </th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="(player, i) in Players">
                     <td class="id"> {{ player.id }} </td>
                     <td class="name"> {{ player.name }} </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

      <!-- scripts -->
      <script src="src/vendor/js/vue.js"> </script>
      <script>
         let onlines = new Vue({
            el: '#onlines',
            data: {

               search: null,

               players: [
                  // { id: 0, name: 'Zachary Parker' },
                  // { id: 1, name: 'Marin Aadwda' },
                  // { id: 2, name: 'Hannah Stevenson' },
                  // { id: 3, name: 'Steve Lalala' },
                  // { id: 4, name: 'George Isisis' },
                  // { id: 5, name: 'Petar Hoffman' },
                  // { id: 6, name: 'Milasin Drug' },
                  // { id: 7, name: 'Dragan Petrovic' },
                  // { id: 8, name: 'Zekirija alomerovic' },
                  // { id: 9, name: 'Eldar Dautovic' },
                  // { id: 10, name: 'Buladin Adawdf' },
                  // { id: 11, name: 'Saladin Geroea' },
                  // { id: 12, name: 'Aladin Milanetov' },
                  // { id: 13, name: 'Sin Dragan' }
               ]
               
            },

            computed: { 
               Players: function () { 

                  if (this.search == null) {
                     return this.players;
                  }
                  else {
                     if (this.search == parseInt(this.search)) { 
                        return this.players.sort().filter(player => {
                           if (player.id == this.search) return player;
                        });
                     } else { 
                        return this.players.sort().filter(player => {
                           return player.name.toLowerCase().includes(this.search.toLowerCase())
                        });
                     }
                  }

               },
            },

            methods: { 

               Close: function () { 
                  mp.trigger('client:players:online');
               }

            }
         });

         
      </script>
   </body>     
</html>
