html, body {
    background-color: transparent !important;
    font-family: Helvetica Neue, Helvetica, sans-serif !important; 
    height: 100%; 
    overflow: hidden; 
    display: grid; 
    user-select:  none;
}

.crnilo {width: 100%;height: 100%;display: grid;backdrop-filter: blur(10px);background: rgba(0 0 0 / 45%);}
.inventar {
    color: grey;
    width: 60%;
    height: 55%;
    position: relative;
    box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
    background: rgb(0 0 0 / 35%);
    margin: auto;
    }
.inventar .naslov {color: #cdcdcd;letter-spacing: 3px;padding: 10px 20px;text-transform: uppercase;font-weight: 200;background: linear-gradient( 90deg , rgb(103 35 118 / 81%), rgb(4 149 232 / 74%));}
#inventar {margin-top: 2%;display: flex;/* overflow-y: scroll; */flex-wrap: wrap;}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track {background: rgb(0 0 0 / 26%); }
::-webkit-scrollbar-thumb { background: linear-gradient(0deg, rgba(124,71,160,1) 0%, rgba(3,104,162,1) 100%); border-radius: 50px; }

.inventar .predmet {z-index: 1;cursor: pointer;transition: all 0.5s ease;border-radius: 10px;text-align: center;width: 100px;position: relative;height: 90px;background: rgb(255 255 255 / 8%);padding: 10px;border: 1px solid rgb(0 0 0 / 17%);margin: 10px;}
.inventar .predmet:hover {border: 1px solid rgb(255 255 255 / 17%); }
.inventar .predmet .slika-predmeta {width: 100%;padding-top: 20px;display: block;margin: 0 auto;}
.inventar .predmet .kolicina-predmeta { position: absolute; bottom: 5px; right: 5px; }

[class*="opcije-predmeta-"] {
    display: none;
    padding: 0;
    position: absolute;
    list-style: none;
    margin-left: 10%; width: 100%;; 
    z-index: 999999;
}

[class*="opcije-predmeta-"] li {  font-size: 13px; padding: 2px 4px; border-radius: 5px; background: rgb(0 0 0 / 0.4); margin-top: 5px; transition: all 0.5s ease; }
[class*="opcije-predmeta-"] li:hover {  opacity: 0.5;  }

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.modal .naslov {color: #cdcdcd;background: linear-gradient(90deg, rgb(103 35 118 / 81%), rgb(4 149 232 / 74%));letter-spacing: 3px;padding: 12px;font-size: 23px;text-transform: uppercase;font-weight: 200;}
.modal .podnaslov { color: #cdcdcd; letter-spacing: 3px; font-weight: 100;}
.quantity { width: 100px; border: 1px solid rgb(0 0 0 / 22%);border-radius: 10px;background: rgb(0 0 0 / 47%);margin: 10px;padding: 1px 10px;color: #b5b5b5;transition: all 0.5s ease;font-weight: 200;  transition: all 0.5s ease; }
.quantity:focus { outline: none; color: white; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none;  margin: 0; }
input[type=number] { -moz-appearance: textfield; }

::placeholder { color: whitesmoke; opacity: 1; }
.modal-kutija { margin: 15% auto; width: 25%; color: #cdcdcd; padding-bottom: 20px; position: relative; box-shadow: 0 14px 25px rgb(0 0 0 / 16%); background: rgb(0 0 0 / 35%); text-align: center; }
.modal-kutija h4 { font-size: 17px; font-weight: 200; text-transform: uppercase; margin-top: 10px; }
.modal-kutija h4 small { font-weight: 200; }

.zatvori { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
.zatvori:hover,
.zatvori:focus { color: black; text-decoration: none; cursor: pointer; }

.player-list { list-style: none; padding: 0; }
.igrac { cursor: pointer; transition: all 0.5s ease; margin-bottom: 5px; }
.igrac:hover { opacity: 0.5; }

.naslov .zatvori { position: absolute; right: 15px; top: 5px; padding: 5px 7px; cursor: pointer; color: whitesmoke; background: rgb(0 0 0 / 14%); font-size: 20px; margin: 7px; border-radius: 5px; text-align: center; transition: all 0.5s ease; }
.naslov .zatvori:hover { opacity: 0.5; }


