
body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #cdcdcd;
   margin: 0;
   width: 100%;
   height: 100vh;
   padding: 0;
   background: linear-gradient(272deg, rgb(103 35 118 / 55%), rgb(4 149 232 / 70%)), rgb(14 14 14 / 50%);
   position: relative;
   overflow: hidden;
}

body::before { 
   position: absolute;
   content: '';
   background: rgb(14 14 14 / 50%);
   width: 100%;
   z-index: 0;
   height: 50%;
}

.login-wrapper { 
   width: 100%;
   height: 100%;
   display: grid;
}

.login-wrapper .login-box {
   width: 450px;
   height: auto;
   margin: auto;
   background: #161619;
   display: none;
   position: relative;
   justify-content: center;
   flex-wrap: wrap;
   overflow: hidden; 
   border-radius: 10px;
   box-shadow: rgb(0 0 0 / 25%) 0px 1px 10px 0px, rgb(0 0 0 / 20%) 0px 2px 15px 0px;
   z-index: 1;
}

.login-box .logo-bottom { position: absolute; left: 10px; bottom: 10px; width: 45px; height: 45px; }

.login-box .header { 
   width: 100%; 
   border-top-left-radius: 10px; 
   border-top-right-radius: 10px;
   background: url('images/jimmy-bg.png');
   background-size: cover;
   height: 225px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden; 
   position: relative;
}

.header h2 { position: absolute; animation: slide-from-left 1.5s; top: 40px; font-size: 35px; font-style: italic; font-weight: 600; text-align: center; letter-spacing: 1.2px; text-transform: uppercase; color: white; text-shadow: 0 0px 2px rgb(0 0 0 / 25%); }
.header h2::after { 
   content: attr(data-before); 
   font-weight: 200;
   font-style: italic;
   left: 0;
   bottom: -50px;
   position: absolute;
   font-size: 17px;
   width: 100%;
   text-align: center;
   letter-spacing: 10px;
}
#selector { display: none; }

.login-box .content { animation: slide-from-right 1.5s; padding: 25px 10px; width: 100%; height: 250px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; position: relative; }

button.login {    
   padding: 5px 25px;
   font-size: 25px;
   width: 250px;
   text-align: center;
   font-family: 'Roboto';
   border: none;
   color: white;
   text-transform: uppercase;
   background: linear-gradient(45deg, #3686be, #6c4ea9); 
   border-bottom: 2px solid transparent;
   transition: all 0.45s ease;
   font-weight: 100;
   box-shadow: rgb(0 0 0 / 25%) 0px 1px 1px 0px, rgb(0 0 0 / 20%) 0px 2px 5px 0px;
}
button.login:hover { filter: brightness(1.25); }
button.login:focus { outline: none; }
button.login:active { box-shadow: none; border-color: white; color: #cdcdcd; filter: brightness(1.5); }

.content input { letter-spacing: 1.2px; width: 250px; font-family: 'Roboto'; font-size: 16px; border: none; color: #cdcdcd; font-weight: 300; background: #0e0e0e; padding: 10px 20px; transition: all 0.45s ease; }
input:focus { outline: none; color: white; }

.content h3 { font-weight: 300; color: #bdbdbd; letter-spacing: 1.2px; width: 60%; text-align: center; font-size: 14px; }
.content h4 { width: 100%; }

.selector-wrapper {
   width: 100%;
   height: 100vh;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.selector-wrapper .characters {
   max-width: 1020px;
   width: 100%;
   margin: auto;
   height: 500px;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   transition: all 0.5s ease;
   margin-top: -200px;
   z-index: 1;
   grid-gap: 15px;
}

.characters .character {
   width: 270px;
   height: 400px;
   overflow: hidden;
   margin: 15px;
   position: relative;
   transition: all 0.5s ease;
   box-shadow: rgb(0 0 0 / 25%) 0px 1px 10px 0px, rgb(0 0 0 / 20%) 0px 2px 15px 0px;

}

.character h2.char-number {
   position: absolute;
   bottom: -5px;
   right: 15px;
   z-index: 1;
   padding: 0;
   font-size: 65px;
   color: white;
   transition: all 0.5s ease;
   opacity: 0.25;
   font-style: italic;
   margin: 0;
}

.character:hover h2.char-number { 
   transform: translateY(-15px);
   opacity: 1;
}

.character:hover .char-image { 
   filter: brightness(1.1);
   transform: scale(1.15);
}

.character .create-character { 
   position: relative;
   width: 100%;
   z-index: 1;
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.character .char-info {
   z-index: 1;
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   text-align: center;
   height: 220px;
   bottom: 00;
   flex-wrap: wrap;
   align-items: center;
}

.selector-wrapper .header {
   position: relative;
   max-width: 1020px;
   width: 100%;
   height: 200px;
   text-align: center;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.character::after {
   position: absolute;
   content: '';
   bottom: -1px;
   lefT: 0;
   width: 100%;
   height: 150px;
   z-index: 0;
   background: rgb(22 22 25 / 70%);
   /* clip-path: polygon(100% 100%, 0% 100%, 100% 0); */
}

.char-info h2 { font-size: 22px; color: white; text-shadow: 0 0 2px rgb(0 0 0 / 30%); }

.char-info h3 {
   color: whitesmoke;
   text-transform: uppercase;
   font-weight: 300;
}

.fa-plus { 
   transition: all 0.5s ease;
   color: white;
   font-size: 55px;
   text-shadow: 1px 3px 8px rgb(0 0 0 / 25%);
}

.fa-plus:hover { 
   text-shadow: 1px 3px 8px rgb(0 0 0 / 45%);
   transform: scale(1.15);
}

.char-info h4 {font-weight: 300;color: white;font-size: 16px;}

.char-image { 
   position: absolute; 
   width: 100%;
   height: 100%;
   transition: all 0.5s ease;
}


@keyframes slide-from-left {
	0% { transform: translateX(-600px); }
	100% { transform: translateX(0px) }
}

@keyframes slide-from-right {
	0% { transform: translateX(600px); }
	100% { transform: translateX(0px) }
}

* { user-select: none; }