
body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #8e8e8e;
   margin: 0;
   width: 100%;
   height: 100vh;
   background: transparent;
   padding: 0;
   position: relative;
   overflow: hidden;
}

#house {position: absolute;width: 100%;height: 100%;animation: fade-in 1.25s;background: rgb(0 0 0 / 45%);display: flex;justify-content: center;align-items: center;}

.management { width: 700px; height: 350px; display: flex; justify-content: space-around; align-items: center; }
.management .navigation {
   padding: 0;
   list-style: none;
   width: 185px;
   height: auto;
   position: absolute;
   left: -125px;
   border-radius: 10px;
   padding: 20px;
   border: 1px solid rgb(128 128 128 / 15%);
   background: rgb(255 255 255);
   box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.navigation li { padding: 5px 0; background: rgb(255 255 255 / 10%); width: 185px; text-align: center; color: #adadad; background: whitesmoke;
   margin: 5px 0; font-weight: 500; text-transform: uppercase; letter-spacing: 1.25px; transition: all 0.35s ease; border-radius: 5px;
}

.navigation li.active { background: #ffd71d; color: white; box-shadow: 0 5px 15px rgb(255 205 29 / 40%); }
.navigation li:hover { filter: brightness(1.15); }

.close {position: absolute;top: 15px;right: 15px;padding: 4px 7px;border-radius: 5px;transition: all 0.5s ease;color: rgb(255 255 255 / 60%);background: rgb(0 0 0 / 29%);border: 1px solid rgb(128 128 128 / 3%);font-size: 18px;}
.close:hover { opacity: 0.5; }

.management { height: 350px; width: 600px; background: rgb(0 0 0 / 20%); color: #b5b5b5; position: relative; border-radius: 5px; box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px; }

.page {padding: 20px;width: 470px;height: 300px;margin-left: auto;}
.title {font-weight: 400;margin: 0;font-size: 24px;text-transform: uppercase;}

.informations {padding: 0;list-style: none;width: 400px;margin: 0 auto;margin-top: 20px;}
.informations li {display: flex;align-items: center;justify-content: space-between;background: rgb(0 0 0 / 15%);margin: 5px 0;padding: 0 20px;border-radius: 10px;}
.informations li h2 {padding: 5px 15px;transition: all 0.35s ease;border-radius: 5px;font-weight: 500;font-size: 14px;color: #e8e8e8;text-transform: uppercase;}
.informations li h3 {padding: 5px 15px;transition: all 0.35s ease;border-radius: 5px;font-weight: 300;color: #cdcdcd;letter-spacing: 1.25px;}
.informations li h3.locked { background: #e2351e; color: white; box-shadow: 0 5px 15px rgb(197 42 20 / 35%); }
.informations li h3.unlocked {background: #69ba6c;color: white;box-shadow: 0 5px 15px rgb(48 185 52 / 34%);}
.informations li h3 small { display: block; color: whitesmoke; font-size: 11px; text-transform: uppercase; }

.items {padding: 10px;list-style: none;width: 400px;margin: 0 auto;height: 260px;}

ul.tenants {list-style: none;width: 325px;margin: 0 auto;margin-top: 10px;padding: 10px 30px;background: rgb(0 0 0 / 15%);border-radius: 10px;height: 215px;overflow-y: auto;}
ul.tenants li {display: flex;justify-content: space-between;align-items: center;padding: 10px 10px;border-bottom: 1px solid rgb(245 245 245 / 12%);}
ul.tenants li h4 {margin: 0;color: #cdcdcd;font-weight: 300;}
ul.tenants li button {padding: 5px 15px;background: whitesmoke;border: none;border-radius: 5px;color: #949494;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);transition: all 0.35s ease;font-size: 11px;text-transform: uppercase;letter-spacing: 1.25px;}
ul.tenants li button:hover { opacity: 0.65; }

* { user-select: none; }

@keyframes fade-in {
   0% { opacity: 0; }  
   100% { opacity: 1; }
}

