



.frp-purple-text { 
   text-shadow: 0 1px 2px rgb(72 39 198);
   color: #6f4cee;
}

.frp-orange-text { 
   color: #fbc60c;
   text-shadow: 0 1px 5px rgb(250 184 10 / 80%);
}


::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track {background: rgb(0 0 0 / 60%);}
::-webkit-scrollbar-thumb { background: #6845ea; box-shadow: 0 3px 25px rgb(104 69 234 / 40%); }

.bounce-enter-active { animation: bounce-in .2s; }
.bounce-leave-active { animation: bounce-in .8s reverse; }
@keyframes bounce-in {
   0% { transform: scale(0); }
   50% { transform: scale(1.05); }
   100% { transform: scale(1); }
}

.slide-fade-enter-active { transition: all .3s ease; }
.slide-fade-leave-active { transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to {
   transform: translateX(-15px);
   opacity: 0;
}



* { user-select: none; }
