

@import url('fonts.css');

body { 
   width: 100%;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
}


input {
   border: none;
   position: relative;
   transition: all 0.45s ease;
}

::-webkit-input-placeholder {
   color: white;
   opacity: 0.45;
}


button { outline: none; border: none; }

input:focus { outline: none; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
   display: none;
   -webkit-appearance: none;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track {background: rgb(0 0 0 / 60%);}
::-webkit-scrollbar-thumb { background: #6845ea; box-shadow: 0 3px 25px rgb(104 69 234 / 40%); }

.bounce-enter-active { animation: bounce-in .2s; }
.bounce-leave-active { animation: bounce-in .8s reverse; }
@keyframes bounce-in {
   0% { transform: scale(0); }
   50% { transform: scale(1.05); }
   100% { transform: scale(1); }
}

.slide-fade-enter-active { transition: all .3s ease; }
.slide-fade-leave-active { transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to {
   transform: translateX(-15px);
   opacity: 0;
}

.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-to { opacity: 0; }



.tooltip {
   display: block !important;
   z-index: 10000;
}

.tooltip .tooltip-inner {
   background: rgb(0, 0, 0, 0.4);
   color: whitesmoke;
   font-weight: 200;
   border-radius: 5px;
   padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
   width: 0;
   height: 0;
   border-style: solid;
   position: absolute;
   margin: 5px;
   border-color: black;
   z-index: 1;
}

.tooltip[x-placement^="top"] {
   margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
   border-width: 5px 5px 0 5px;
   border-left-color: transparent !important;
   border-right-color: transparent !important;
   border-bottom-color: transparent !important;
   bottom: -5px;
   left: calc(50% - 5px);
   margin-top: 0;
   margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
   margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
   border-width: 0 5px 5px 5px;
   border-left-color: transparent !important;
   border-right-color: transparent !important;
   border-top-color: transparent !important;
   top: -5px;
   left: calc(50% - 5px);
   margin-top: 0;
   margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
   margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
   border-width: 5px 5px 5px 0;
   border-left-color: transparent !important;
   border-top-color: transparent !important;
   border-bottom-color: transparent !important;
   left: -5px;
   top: calc(50% - 5px);
   margin-left: 0;
   margin-right: 0;
}

.tooltip[x-placement^="left"] {
   margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
   border-width: 5px 0 5px 5px;
   border-top-color: transparent !important;
   border-right-color: transparent !important;
   border-bottom-color: transparent !important;
   right: -5px;
   top: calc(50% - 5px);
   margin-left: 0;
   margin-right: 0;
}

.tooltip.popover .popover-inner {
   background: #f9f9f9;
   color: black;
   padding: 24px;
   border-radius: 5px;
   box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
   border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
   visibility: hidden;
   opacity: 0;
   transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
   visibility: visible;
   opacity: 1;
   transition: opacity .15s;
}


* { user-select: none; }
