html, body {
  background-color: transparent !important;
  height: 100%;
  overflow: hidden;
  padding: 10px;
  display: grid;
  /* background: grey; */
}

a { font-size: 14px; text-decoration: none; outline: 0; transition: all 0.3s ease; }
a:hover { opacity: 0.5; color: white; text-decoration: none; }

.close {position: absolute;right: 70px;top: 70px;padding: 4px 8px;cursor: pointer;color: whitesmoke;background: rgb(0 0 0 / 14%);font-size: 35px;margin: 7px;border-radius: 5px;z-indeX: 99999;text-align: center;transition: all 0.5s ease;}
.close:hover { opacity: 0.5; }

.box { display: none; }
#header {position: absolute;top: 0;width: 100%;}
#header .box { text-align: center; padding: 10px 20px;width: 43%;height: auto;margin: auto;box-shadow: 0 14px 25px rgba(0,0,0,.16);background: rgb(0 0 0 / 35%);/* overflow: hidden; */position: relative;}
#header .box h2 { color: whitesmoke; font-weight: 200; font-size: 22px; }
#header .box h2 small { display: block; text-transform: uppercase; font-size: 14px; font-weight: 100; letter-spacing: 3px; margin-top: 2px; }

#bottom { position: absolute; bottom: 10px; width: 100%; }
#bottom .box { padding: 10px 20px; width: 23%;min-height: 30%;margin-left: auto;margin-right: auto;margin-top: auto;height: auto;box-shadow: 0 14px 25px rgba(0,0,0,.16);background: rgb(0 0 0 / 35%);/* overflow: hidden; */position: relative;}
#bottom .box h4 { color: #f3f3f3; letter-spacing: 2px; font-weight: 200; text-align: center; text-transform: uppercase; }
#bottom .box #veh-info { padding: 0; list-style: none; text-align: center; color: white; font-weight: 400; }
#bottom .box .fa-angle-left {position: absolute;left: -65px;top: 0;font-size: 100px;padding: 10px;background: rgb(0 0 0 / 35%);transition: all 0.5s ease;box-shadow: 0 14px 25px rgb(0 0 0 / 16%);}
#bottom .box .fa-angle-right {position: absolute;right: -65px;top: 0;font-size: 100px;transition: all 0.5s ease;padding: 10px;box-shadow: 0 14px 25px rgb(0 0 0 / 16%);background: rgb(0 0 0 / 35%);}

[class*="fa-angle-"]:hover { cursor: pointer; background: linear-gradient( 315deg , rgb(103 35 118 / 81%), rgb(0 162 255 / 74%)) !important;
  -webkit-background-clip: text !important; -webkit-text-fill-color: transparent !important; background-clip: text !important;
}

#right { height: 100%; display: grid; position: absolute; right: 50px; width: 18%; top: 0; }
#right .box { margin: auto; width: 100%; height: auto; box-shadow: 0 14px 25px rgba(0,0,0,.16);background: rgb(0 0 0 / 35%); position: relative; padding: 10px 20px; overflow: hidden; }
#right .box h4 { color: #f3f3f3; letter-spacing: 2px; font-weight: 200; text-align: center; text-transform: uppercase; width: 100%; transition: all 0.5s ease; }
#right .box h4 small { display: block; text-transform: uppercase; font-size: 10px; font-weight: 100; letter-spacing: 3px; }
#right .box h4:hover { opacity: 0.5; cursor: pointer; }
#right .box #veh-customization {display: none;text-align: center;}
#right .box #veh-customization .color { border: 1px solid rgb(0 0 0 / 9%); display: inline-block;color: white;background: rgb(0 0 0 / 25%);margin: 2px;font-size: 14px;font-weight: 200;transition: all 0.5s ease;text-transform: uppercase;padding: 5px 10px;}
#right .box #veh-customization .color:hover { opacity: 0.5; cursor: pointer; }
.active {border-color: rgb(255 255 255 / 38%) !important;}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track {background: rgb(0 0 0 / 26%); }
::-webkit-scrollbar-thumb { background: linear-gradient(0deg, rgba(124,71,160,1) 0%, rgba(3,104,162,1) 100%); border-radius: 50px; }

* { user-select: none; }
