html, body {
    font-family: Helvetica Neue, Helvetica, sans-serif !important; 
    height: 100%; 
    background: transparent !important; 
    overflow: hidden; 
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.server { width: 100%; position: absolute; top: 0; padding-top: 5px; text-align: center; display: none; }
.server .sajt {text-transform: uppercase;font-size: 25px;font-weight: 200 !important;letter-spacing: 2px;color: whitesmoke;text-shadow: 1px 1px 3px rgba(0,0,0,0.75);}
.server .sajt .focus-rp { background: -webkit-linear-gradient(90deg, #40a9eb, #7dcec8); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.server .online::before {
    content:"";
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 300px;
    background: rgb(245 245 245 / 44%);
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 27%);
}
.server .online {display: block;color: #f7f7f7;font-size: 19px;font-weight: 300;text-shadow: 1px 1px 3px rgba(0,0,0,0.75);letter-spacing: 2px;}

.igrac { right: 2%; top: 2%; position: absolute; width: 300px; }
.igrac .novac {text-align: right;font-weight: 500;color: #84b879;font-sizE: 28px;text-shadow: 0px 1px 1.5px rgb(0 0 0 / 93%);letter-spacing: 0.6px;}

.donji-ugao { left: 10%; bottom: 1%; position: absolute; width: 400px; height: 150px; }
.vozilo { display: none; left: 17%; bottom: 1%; position: relative; width: 400px; height: auto; }
.vozilo .brzinometar { width: 50%; text-align: center; }
.vozilo .brzinometar .brzina { font-weight: 400; color: whitesmoke; text-shadow: 2px 2px 2px rgb(0 0 0 / 93%); }
.vozilo .brzinometar .merna-jedinica { text-transform: uppercase; font-size: 13px; margin-top: -5%; font-weight: 300; color: whitesmoke; text-shadow: 2px 2px 2px rgb(0 0 0 / 93%);  }

.lokacija {left: 34%;bottom: 1px;position: absolute;width: 400px;padding: 5px 10px;}
.lokacija .trenutni-smer {margin: 0;font-size: 28px;letter-spacing: 1px;font-weight: 400;color: whitesmoke;text-shadow: 0px 1px 1px rgb(0 0 0);}
.lokacija .trenutna-lokacija {margin: 0;font-size: 18px;letter-spacing: 1px;font-weight: 300;color: whitesmoke;text-shadow: 0px 1px 1px rgb(0 0 0 / 93%);}

.notif { left: 1%; bottom: 245px; width: 300px; min-height: 50px; height: auto;position: absolute;}
.notif .notifikacija { margin-top: 10px; word-wrap: break-word; font-family: "Roboto";box-shadow: 0 12px 18px rgb(0 0 0 / 18%);background: rgb(0 0 0 / 35%);height: auto;padding: 10px;font-weight: 400;font-size: 18px;text-shadow: 0px 0.5px 0.5px rgb(0 0 0 / 32%);color: white;animation: slide 1.5s;border-left: 10px solid transparent;}
.greska { border-color: #d9534f !important;   }
.uspesno { border-color: #5cb85c !important;}
.info { border-color: #0495e8 !important; }

@keyframes slide {
  from { transform: translateX(-200px); }
  50% { transform: translateX(60px); } 
  to { transform: translateX(0); }
}