html, body {
  background-color: transparent !important;
  font-family: Helvetica Neue, Helvetica, sans-serif !important;
  height: 100%;
  overflow: hidden; 
  display: grid;
}

a { font-size: 14px; text-decoration: none; outline: 0; transition: all 0.3s ease; }
a:hover { opacity: 0.5; color: white; text-decoration: none; }

.circle, .ring { height: 256px; position: relative; width: 256px; }

.circle { margin: 0 auto; margin: auto; position: relative; display: none; }

.ring { background-color: rgb(0 0 0 / 30%); border-radius: 50%; opacity: 0; box-shadow: 0 14px 25px rgba(0,0,0,.16); -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: scale(0.1) rotate(-270deg); -moz-transform: scale(0.1) rotate(-270deg);
    transform: scale(0.1) rotate(-270deg); -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

.open .ring { opacity: 1; -webkit-transform: scale(1) rotate(0); -moz-transform: scale(1) rotate(0); transform: scale(1) rotate(0); }

.center {
    background-color: rgb(0 0 0 / 12%);
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0 14px 25px rgba(0,0,0,.16);
    bottom: 0;
    color: white;
    height: 80px;
    left: 0;
    padding-top: 22px;
    line-height: 80px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    }

.open .center { background: rgb(255 255 255 / 5%); border-color: rgb(255 255 255 / 15%); padding-top: 22px; }

.open .center { 
  background: linear-gradient(90deg, rgb(103 35 118 / 81%), rgb(4 149 232 / 74%)), url('slike/pozadina.png');
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.menuItem { border-radius: 50%; color: #eeeeee; display: block; height: 40px; line-height: 40px;
    margin-left: -20px; margin-top: -20px; position: absolute; text-align: center; width: 40px; }
