
body {
   font-family: 'Akrobat', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #8e8e8e;
   margin: 0;
   width: 100%;
   height: 100vh;
   background: transparent;
   padding: 0;
   position: relative;
   overflow: hidden;
   display: grid;
   background: linear-gradient(179deg, rgb(12 12 12 / 79%), rgb(0 0 0 / 22%));
}

#department { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }

.home {display: flex;justify-content: space-between;align-items: center;width: 535px;height: 475px;flex-wrap: wrap;}
.home h3 {width: 100%;text-align: center;color: #fbc60c;text-shadow: 0 1px 5px rgb(250 184 10 / 75%);text-transform: uppercase;font-size: 28px;letter-spacing: 2px;margin: 0 0 15px 0;}
.home h3 small {display: block;color: #cdcdcd;letter-spacing: 25px;text-shadow: 0 0 2px rgb(0 0 0 / 77%);font-size: 16px;font-weight: 400;}
.home img {opacity: 0.6;filter: grayscale(1);transition: all 0.35s ease;border-radius: 10px;}
.home img:hover { opacity: 0.85; }

.home button.close {transition: all 0.35s ease;width: 100%;border-radius: 5px;margin-top: 25px;bordeR: none;height: 70px;font-size: 25px;text-transform: uppercase;text-shadow: 0 0 1px rgb(0 0 0 / 15%);color: #e4e4e4;background: rgb(205 205 205 / 48%);}
.home button.close:hover { background: rgb(0 0 0 / 20%); }


.vehicle-registration { 
   width: 300px;
   height: 200px;
   background: red;
}

* { user-select: none; }

.bounce-enter-active { animation: bounce-in .15s; }
.bounce-leave-active { animation: bounce-in .15s reverse; }
@keyframes bounce-in {
   0% { transform: scale(0); }
   50% { transform: scale(1.15); }
   100% { transform: scale(1); }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: rgb(0 0 0 / 30%); }
::-webkit-scrollbar-thumb { background: #6845ea; box-shadow: 0 3px 25px rgb(104 69 234 / 40%); }
