
body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px; font-style: normal; line-height: 1.5; color: #8e8e8e; margin: 0; width: 100%;
   height: 100vh; background: transparent; padding: 0; position: relative; overflow: hidden;
}

#dealership { position: absolute; width: 100%; height: 100%; }

.right { position: absolute; right: 25px; top: 150px; width: 425px; display: flex; flex-direction: column; justify-content: center; align-items: center; animation: slide-right 1.25s ease; }
.center { position: absolute; top: 30px; left: 0; width: 100%; display: flex; justify-content: center; align-items: center; animation: slide-top 1.25s ease; }
.left { position: absolute; top: 30px; left: 0; top: 150px; width: 425px; display: flex; flex-direction: column; justify-content: center; align-items: center; }


.close {position: absolute;top: 20px;right: 55px;padding: 4px 7px;border-radius: 5px;transition: all 0.5s ease;color: rgb(255 255 255 / 60%);background: rgb(0 0 0 / 29%);border: 1px solid rgb(128 128 128 / 3%);font-size: 18px;}
.close:hover { opacity: 0.5; }

h2.business-name {letter-spacing: 1.25px;padding: 5px 50px;text-align: center;font-weight: 400;color: whitesmoke;border-radius: 5px;background: rgb(0 0 0 / 20%);box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;}

.vehicle-stats { width: 330px; height: 300px; border-radius: 5px; margin-top: 35px; }
.vehicle-stats h2.title {color: whitesmoke;text-shadow: 0 0 1px rgb(0 0 0 / 45%);text-transform: uppercase;letter-spacing: 2.5px;font-weight: 400;}

.info { margin: 15px 0; }
.info h4 {font-size: 16px;letter-spacing: 5px;margin: 0;font-weight: 200;color: #e6e6e6;text-transform: uppercase;}
.info b.name { display: block; }

.bars { display: flex; justify-content: space-between; padding: 0; list-style: none;}
.bars li { width: 45px; height: 15px; margin: 0 5px; border-radius: 2px; box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 1px; background: rgb(0 0 0 / 20%); transition: all 0.35s ease; }
li.juppy {box-shadow: 0 1px 10px rgb(250 184 10 / 80%);background: #fab80a;}

.preview { width: 250px; display: flex; justify-content: space-around; align-items: center; margin-top: 10px; }
.preview i { padding: 20px; font-size: 22px; transition: all 0.35s ease; box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px; background: whitesmoke; border-radius: 100%;  }
.preview i:hover { background: #6845ea; color: white; }

.vehicle-buy { width: 350px; }
.vehicle-buy .price {color: whitesmoke;text-shadow: 0 0 2px rgb(0 0 0 / 77%);letter-spacing: 3.25px;font-size: 30px;margin: 0px 0px 15px;}
.vehicle-buy .buy { width: 100%; padding: 10px 0; background: #fab80a; font-size: 20px; text-transform: uppercase; border: none; border-radius: 5px; color: #292929; font-weight: 900; letter-spacing: 5px; box-shadow: 0 1px 25px rgb(250 184 10 / 80%); transition: all 0.35s ease; }
.vehicle-buy h4 {margin: 0;margin-top: 15px;letter-spacing: 1.25px;text-transform: uppercase;font-size: 16px;color: #c7c7c7;}
.buy:hover { filter: brightness(1.1); box-shadow: 0 5px 15px rgb(250 184 10 / 90%); color: rgb(20, 20, 20); }


.customization {
   width: 350px; height: 350px; padding: 10px 5px;
   box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 1px;
   overflow-y: auto;
   background: rgb(0 0 0 / 20%); 
   animation: slide-left 1.25s ease;
}

ul.colors { padding: 0; display: flex; list-style: none; margin: 0; justify-content: space-between; flex-wrap: wrap; }
ul.colors li { 
   width: 25px;
   height: 25px;
   border-radius: 5px;
   margin: 5px; 
   box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 1px;
   transition: all 0.35s ease;
   border: 2px solid transparent;
}

ul.colors li:hover { border-color: white; }
ul.colors li.selected { border-color: white; }

* { user-select: none; }

@keyframes slide-top {
   0% { transform: translateY(-150px); }  
   100% { transform: translateY(0); }
}

@keyframes slide-right {
   0% { transform: translateX(550px); }  
   100% { transform: translateX(0); }
}

@keyframes slide-left {
   0% { transform: translateX(-550px); }  
   100% { transform: translateX(0); }
}


::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: rgb(0 0 0 / 50%);}
::-webkit-scrollbar-thumb {background: linear-gradient(45deg, #e8e8e8, #ffffff);transition: all 0.5s ease;}
