
body {
   font-family: 'Akrobat', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #8e8e8e;
   margin: 0;
   width: 100%;
   height: 100vh;
   background: linear-gradient(179deg, rgb(12 12 12 / 85%), rgb(49 49 49 / 48%));
   padding: 0;
   display: grid;
   position: relative;
   overflow: hidden;
}

#food {width: 900px;height: auto;margin: auto;display: flex;justify-content: space-between;align-items: center;/* overflow: hidden; */flex-wrap: wrap;}

.header { width: 100%; }
.header h2 { color: #fbc60c; text-shadow: 0 1px 5px rgb(250 184 10 / 75%); text-transform: uppercase; font-size: 30px; letter-spacing: 2px; margin: 0; }
.header h4 { color: #cdcdcd; letter-spacing: 2px; text-shadow: 0 0 2px rgb(0 0 0 / 77%); font-size: 16px; margin: 0; font-weight: 400; text-transform: uppercase; margin-bottom: 10px; }

#map { width: 650px; height: 450px; border-radius: 10px; }
.leaflet-control { display: none; }
.leaflet-container {background: rgb(0 0 0 / 73%);}
.leaflet-tile { filter: grayscale(1); opacity: 0.7 !important; }

ul.orders { padding: 0 2px; width: 240px; height: 450px; list-style: none; margin: 0; overflow-y: auto; text-shadow: 0 0 2px rgb(0 0 0 / 25%); }
ul.orders li.order {color: #acacac;border: 1px solid transparent;overflow: hidden;transition: all .3s ease;text-transform: uppercase;font-weight: 300;border-radius: 5px;text-align: center;width: 100%;display: flex;justify-content: space-around;align-items: center;transition: all 0.35s ease;text-shadow: 0 0 1px rgb(0 0 0 / 15%);color: #e4e4e4;background: rgb(205 205 205 / 15%); position: relative;}
ul.orders li.order:hover { background: rgb(255 255 255 / 3%); color: white; }
ul.orders li.order:hover button.accept { transform: translateX(0); }
ul.orders li.order:nth-child(even) { margin: 5px 0; }
ul.orders li.order h2.title { font-size: 17px; margin: 0; text-shadow: 0 0 2px rgb(0 0 0 / 15%); position: relative; }
li.order h2.title small { display: block; font-weight: 500; font-size: 13px; letter-spacing: 1.5px; }
li.order h2.title small.contact { font-size: 11px; }
.order-info { margin-right: 10px; }
ul.items { padding: 0; }

button.accept { border: none; position: absolute; right: 0; top: 0; height: 100%; width: 25px; transform: translateX(40px); transition: all 0.35s ease; background: #fab80a;  }


* { user-select: none; }
