<!DOCTYPE html>
<html>
   <head>
      <!-- meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- source -->
      <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

      <link rel="stylesheet" type="text/css" href="src/styles/department.css" />

   </head>
   <body>
      <div id="department">
         <div class="home" v-if="page == 'home'">
            <h3> 
               {{ Name }}
               <small> {{ Location }} </small>
            </h3>
            <img v-on:click="page = 'registration'" src="src/images/vehicle-registration.png" />
            <img v-on:click="page = 'licenses'" src="src/images/licenses.png"/>
            <button class="close" v-on:click="Close"> Odustani </button>
         </div>

         <div class="vehicle-registration" v-if="page == 'registration'">
            <h2> To do... </h2>
         </div>

         <ul class="licenses" v-if="page == 'licenses'">
            <h3> Odaberite Kategoriju </h3>
            <li v-for="(price, license) in Licenses" v-on:click="Start(license, price)"> 
               <h2> {{ license }} </h2>
               <h2 class="price"> {{ Dollars(price) }} </h2>
            </li>
            <li v-on:click="page = 'home'" class="go-back"> <i class="fas fa-arrow-left"> </i> Nazad </li>
         </ul>

         <div class="exam" v-if="page == 'exam' && Quiz.Started">
            <h2 class="info"> Pitanja <b>{{ Quiz.Current + 1 }}</b> od {{ Quiz.Questions.length }} </h2>
            <div class="question"> 
                <h2> {{ Quiz.Questions[Quiz.Current].Question }} </h2>
                <ul class="answers">
                    <li v-for="(answer, i) in Quiz.Questions[Quiz.Current].Answers" v-on:click="Answer(answer)">
                        <b> {{ alphabet[i] }}.</b> {{ answer.text }}
                    </li>
                </ul>
            </div>
         </div>

         <div class="result" v-if="page == 'result'">
            <h2 class="title"> Rezultat Testa </h2>
            <transition name="bounce">
               <i v-if="Quiz.Success == true" class="congrats fas fa-check" aria-hidden="true" > </i>
               <i v-if="Quiz.Success == false" class="fail fa fa-times" aria-hidden="true" > </i>
            </transition>
          
            <div class="quiz-info">
               <h3> Tačnih pitanja <b> {{ Quiz.Correct }} </b> od mogućih {{ Quiz.Questions.length }}. </h3>
               <h4> Za prolazak je potrebno {{ Quiz.Questions.length - 3 }} tačnih pitanja. </h4>
               <button v-on:click="Finish()"> U redu </button>
            </div>
         </div>
        
      </div>
         
      <!-- scripts -->
      <script src="src/vendor/js/vue.js"></script>
      <script>
      let department = new Vue({
         el: '#department',
         data: {
            page: 'home',
            Name: 'Department of Motor Vehicles',
            Location: 'Los Santos',
            Player: { 
               Money: 0,
               Licenses: []
            },
            
            alphabet: ['a', 'b', 'c', 'd', 'e'],

            Quiz: { 
               Category: null,
               Started: false,
               Current: 0,
               Success: null,
               Correct: 0,
               
               Questions: []
            }
         },

         created: function () {
         },

         methods: { 
            Close: () => { mp.trigger('client:vehicle.department:menu'); },

            Result: function (successfully) { 
               Vue.nextTick(function() { this.Quiz.Success = successfully; }.bind(this));
            },

            Finish: function () { 
               if (this.Quiz.Success) { 
                  this.Close();
                  mp.trigger('client:vehicle.department.driving:start', this.Quiz.Category);
               } else { 
                  this.Close();
               }
            },

            Start: function (i, price) { 
               if (this.Player.Money < price) return;
               this.Quiz.Category = i;
               this.page = 'exam';
               this.Quiz.Started = true;
            },
            
            Dollars: (i) => { return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(i); },

            Answer: function (answer) { 
               if (answer.correct) { this.Quiz.Correct ++; }
               this.Quiz.Current ++;
               if (this.Quiz.Current > this.Quiz.Questions.length - 1) {
                  this.page = 'result';
                  if (this.Quiz.Correct > this.Quiz.Questions.length - 3) { 
                     this.Result(true);
                  } else { 
                     this.Result(false);
                  }
               }
            }
         }
      })
   </script>
   </body>     
</html>
