<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>
        <div id="phone">
            
            <div v-if="phone.style == 'ifruit'" class="ifruit" >
                <img class="top-frame" src="src/images/ifruit/frame/top.png" >
                <img class="bottom-frame" src="src/images/ifruit/frame/bottom.png" >
                <img class="left-frame" src="src/images/ifruit/frame/left.png" >
                <img class="right-frame" src="src/images/ifruit/frame/right.png" >

                <div v-on:click="Toggle()" class="turn-off"> </div>

                <div class="screen" v-bind:class="{ active: phone.active }" >
                    <div class="smartphone" v-bind:style="{ opacity: phone.brightness }">
                        <img class="background" v-bind:src="'src/images/ifruit/backgrounds/' + phone.background + '.png'">
                        <div class="content">
                            <div class="header">
                                <h3>focus</h3>
                                <h3>{{ phone.time }}</h3>
                            </div>

                            <div class="locked-screen" v-if="phone.locked" v-on:click="phone.locked = false">
                                <i class="fa fa-unlock" aria-hidden="true"> </i>
                            </div>

                            <div v-if="phone.locked == false && phone.page == 'home'" class="apps">
                                <ul class="bottom">
                                    <li v-on:click="phone.page ='call'"> <img src="src/images/ifruit/icons/calls.png" ></li>
                                    <li v-on:click="phone.page ='messages'"> <img src="src/images/ifruit/icons/messages.png" ></li>
                                    <li v-on:click="phone.page ='safari'"> <img src="src/images/ifruit/icons/safari.png" ></li>
                                    <li v-on:click="phone.page ='settings'">  <img src="src/images/ifruit/icons/settings.png" ></li>
                                </ul>
                            </div>

                            <div class="page" v-if="phone.page == 'settings'">
                                <div class="header">
                                    <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                                    <h3> Podešavanje </h3>
                                </div>
                                
                                <ul class="settings">
                                    <li>
                                        <label>Broj Telefona <b> {{ phone.number }} </b></label>
                                        <label>Model Telefona <b> Zekigey v2</b></label>
                                    </li>
                                    <li>
                                        <label for="brightness">Osvetljenje Ekrana</label>
                                        <input name="brightness" class="slider" type="range" :value="phone.brightness" min="0.1" step="0.05" max="1.0" v-model="phone.brightness" >
                                    </li>
                                    <li>
                                        <label>Pozadina</label>
                                        <img v-on:click="phone.background = 1" class="settings-bg" src="src/images/ifruit/backgrounds/1.png" >
                                        <img v-on:click="phone.background = 2" class="settings-bg" src="src/images/ifruit/backgrounds/2.png" >
                                    </li>
                                </ul>
                            </div>

                            <div class="page" v-if="phone.page == 'safari'">
                                <div class="header transparent">
                                    <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                                </div>
                                <iframe src="http://localhost/focus/safari/" title="xvideos my fav" class="xvideos"> </iframe>
                            </div>

                            <div class="page" v-if="phone.page == 'messages'">
                                <div class="header">
                                    <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                                    <h3> Poruke </h3>
                                    <i class="compose-icon fas fa-edit" aria-hidden="true"></i>
                                </div>
                                <ul class="conversations" >
                                    <input class="search-conversations" type="text" v-model="search.conversations">
                                    <li v-for="(conversation, i) in Conversations">
                                        <h3> {{ conversation.number }} <small> {{ conversation.text }} </small> </h3>
                                    </li>
                                </ul>
                            </div>

                            <div class="page" v-if="phone.page == 'call'">
                                <div class="header transparent">
                                    <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                                    <h3> Pozivi </h3>
                                </div>
                                
                                <ul class="calls" v-if="phone.calls == 'calls'">
                                    <li v-for="(c, i) in calls">
                                        <h3> 
                                            {{ isContact(c.number) }} 
                                            <small v-if="c.status == 0"> Propušteni </small>
                                            <small v-if="c.status == 1"> Nadolazeći </small>
                                            <small v-if="c.status == 2"> Odlezeći </small>
                                        </h3> 

                                        <h3> {{ c.time }} </h3>
                                    </li>
                                </ul>

                                <div v-else>
                                    <ul class="digits">
                                        <h3 class="calling-number"> {{ calling.number }} </h3>
                                        <li v-for="n in numbers" v-on:click="input('calling', n)">
                                            {{ n }}
                                        </li>
                                        <li v-on:click="call(calling.number)" class="call"> <i class="fa fa-phone" aria-hidden="true"></i> </li>
                                        <li v-on:click="input('calling', -1)" class="delete"> <i class="fa fa-times" aria-hidden="true"></i> </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let phone = new Vue({
                el: '#phone',
                data: {
                   
                    toggle: false,

                    numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
                    calling: {
                        active: false,
                        number: '',
                        timer: null,
                    },

                    search: {
                        conversations: ''
                    },

                    message: { 
                        composing: false,
                        text: '',
                        to: null
                    },

                    sounds: {
                        sms: new Audio(),
                        typing: new Audio('src/sounds/typing.mp3'),
                        lock: new Audio('src/sounds/lock-sound.mp3'),
                        calling: new Audio('src/sounds/calling.mp3')
                    },
                
                    phone: { 
                        active: true,
                        page: 'home',
                        number: 321245,
                        style: 'ifruit',
                        background: '2',
                        calls: 'call',
                        locked: true,
                        melody: '1',
                        brightness: 1,
                        time: this.Time,
                    },

                    contacts: {
                        '243242': 'Zola gey'
                    },

                    conversations: [],

                    messages: [
                        { number: '243242', text: 'Eeeeee', type: 'from' },
                        { number: '243242', text: 'Moliim', type: 'to' },
                        { number: '243242', text: 'Opalim te golim', type: 'to' },
                        { number: '321199', text: 'Eeeeee', type: 'to' },
                        { number: '064915', text: 'Brate jesi tu ?', type: 'to' },


                    ],

                    calls: [
                        { number: '243242', time: '23:24', status: 0 },
                        { number: '243242', time: '23:24', status: 2 },
                        { number: '243242', time: '23:24', status: 1 },
                        { number: '243242', time: '23:24', status: 2 },
                        { number: '243242', time: '23:24', status: 1 },
                    ]
                    

                },

                created() {
                    setInterval(this.Time, 2000);
                },

                computed: { 
                    Conversations: function () { 
                        let filtered = [... new Set(this.messages.map(data => data.number))]
                        this.conversations = [];
                        for (let c of filtered) { 
                            let lastMsg = this.messages.find(msg => msg.number === c);
                            this.conversations.push({ number: this.isContact(lastMsg.number), text: lastMsg.text });
                            this.conversations.sort().reverse();
                        }
                        if (this.search.conversations.length == 0) { 
                            return this.conversations.sort();
                        } else { 
                            return this.conversations.sort().filter(conversation => {
                                return conversation.number.toLowerCase().includes(this.search.conversations.toLowerCase())
                            })
                        }
                    },
                },

                methods: { 

                    Toggle: function () { 
                        this.sounds.lock.play();
                        this.phone.active = !this.phone.active;
                        this.phone.locked = this.phone.active;
                        this.Conversations()
                        setTimeout(() => { this.phone.page = 'home'; }, 500);
                    },


                    input: function (e, i) { 
                        switch (e) { 
                            case 'calling': { 
                                if (i == -1) { 
                                    this.calling.number = this.calling.number.slice(0, -1); 
                                } else { 
                                    let audio = new Audio('src/sounds/' + i + '.mp3');
                                    audio.volume = 0.1;
                                    audio.play();
                                    this.calling.number += i; 
                                }
                                break;
                            }
                        }
                    },

                    call: function (number) { 
                        this.calling.active = true;
                        this.calling.number = number;
                        this.sounds.calling.play();
                        this.sounds.calling.volume = 0.75;
                        this.calling.timer = setTimeout(() => {
                            this.calling.active = false;
                            this.calling.number = '';

                        }, 50 * 1000);
                    },

                    Time: function () { 
                        let now = new Date().toLocaleString('en-GB', { timeZone: 'Europe/Belgrade' });
                        let split = now.split(','), time = split[1].split(':')
                        this.phone.time = time[0] + ':' + time[1];
                    },

                    isContact: function (i) { 
                        if (this.contacts[i]) { return this.contacts[i]; } else { return i; }
                    },

                    contact: { 
                        add: function (phone, number) { 

                        },

                        remove: function (contact) { 

                        }
                    }
                }
            })
        </script>
    </body>     
</html>
