<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>
        <div id="phone">
            
            <div v-if="phone.style == 'ifruit'" class="ifruit" >
               <img class="top-frame" src="src/images/ifruit/frame/top.png" >
               <img class="bottom-frame" src="src/images/ifruit/frame/bottom.png" >
               <img class="left-frame" src="src/images/ifruit/frame/left.png" >
               <img class="right-frame" src="src/images/ifruit/frame/right.png" >

               <div v-on:click="Toggle()" class="turn-off"> </div>

               <div class="screen" v-bind:class="{ active: phone.active }" >
                  <div class="smartphone" v-bind:style="{ opacity: phone.brightness }">
                     <img class="background" v-bind:src="'src/images/ifruit/backgrounds/' + phone.background + '.png'">
                     <div class="content">
                        <div class="header">
                           <h3>focus</h3>
                           <h3>{{ phone.time }}</h3>
                        </div>


                        <div class="locked-screen" v-if="phone.locked" v-on:click="phone.locked = false">
                           <i class="fa fa-unlock" aria-hidden="true"> </i>
                        </div>

                        <div class="call-handler" v-if="call.show" >
                           <div class="call-info">
                              <h2> {{ isContact(call.number) }} </h2>
                              <h3 v-if="call.active"> U pozivu {{ call.length }}</h3>
                              <h3 v-else> Pozivanje... </h2>
                              <div class="call-actions">
                                 <i class="fas fa-volume-mute"> </i>
                                 <i class="fas fa-keyboard"> </i>
                                 <i class="fa fa-volume-up"> </i>
                                 <i class="fas fa-address-book"> </i>
                                 <i class="fas fa-video"> </i>
                                 <i class="fa fa-plus"> </i>
                                 <i v-on:click="Hangup()" class="decline fa fa-phone"> </i>
                              </div>
                           </div>
                        </div>

                        <div v-if="phone.locked == false && phone.page == 'home'" class="apps">

                           <img v-on:click="phone.page ='contacts'" class="application" src="src/images/ifruit/icons/contacts.png" >
                           <img class="application" src="src/images/ifruit/icons/gps.png" >
                           <img v-on:click="phone.page ='notes'" class="application" src="src/images/ifruit/icons/notes.png" >
                           <img class="application" src="src/images/ifruit/icons/music.png" >
                           <img v-on:click="phone.page ='weather'" class="application" src="src/images/ifruit/icons/weather.png" >
                           <img class="application" src="src/images/ifruit/icons/home.png" >
                           <img v-on:click="phone.page ='wallet'" class="application" src="src/images/ifruit/icons/wallet.png" >



                           <ul class="bottom">
                              <li v-on:click="phone.page ='call'"> <img src="src/images/ifruit/icons/calls.png" ></li>
                              <li v-on:click="phone.page ='messages'"> <img src="src/images/ifruit/icons/messages.png" ></li>
                              <li v-on:click="phone.page ='safari'"> <img src="src/images/ifruit/icons/safari.png" ></li>
                              <li v-on:click="phone.page ='settings'">  <img src="src/images/ifruit/icons/settings.png" ></li>
                           </ul>
                        </div>

                        <div class="page" v-if="phone.page == 'settings'">
                           <div class="header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> Podešavanje </h3>
                           </div>
                           
                           <ul class="settings">
                              <li>
                                 <label>Broj Telefona <b> {{ phone.number }} </b></label>
                                 <label>Model Telefona <b> Zekigey v2</b></label>
                              </li>
                              <li>
                                 <label for="brightness">Osvetljenje Ekrana</label>
                                 <input name="brightness" class="slider" type="range" :value="phone.brightness" min="0.1" step="0.05" max="1.0" v-model="phone.brightness" >
                              </li>
                              <li>
                                 <label>Pozadina</label>
                                 <img v-on:click="phone.background = 1" class="settings-bg" src="src/images/ifruit/backgrounds/1.png" >
                                 <img v-on:click="phone.background = 2" class="settings-bg" src="src/images/ifruit/backgrounds/2.png" >
                              </li>
                           </ul>
                        </div>

                        <div class="page" v-if="phone.page == 'safari'">
                           <div class="header transparent">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                           </div>
                           <iframe src="http://localhost/focus/safari/" title="xvideos my fav" class="xvideos"> </iframe>
                        </div>

                        <div class="page" v-if="phone.page == 'weather'">
                           <div class="header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> Vremenska Prognoza </h3>
                              <h3> </h3>
                           </div>

                           <div class="current-weather" v-bind:style="{ 'background-image': 'linear-gradient(253deg, rgb(255 255 255 / 32%), transparent), url(src/images/' + dayNight() + '.png)' }">

                           </div>

                        </div>

                        <div class="page" v-if="phone.page == 'messages'">
                           <div class="header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> Poruke </h3>
                              <i class="compose-icon fas fa-edit" aria-hidden="true"></i>
                           </div>

                           <ul class="conversations" >
                              <input class="search-conversations" type="text" v-model="search.conversations">
                              <li v-for="(c, i) in Conversations" v-on:click="conversation = c.number" >
                                 <h3> {{ c.number }} <small> {{ c.text }} </small> </h3>
                              </li>
                           </ul>

                           <div class="conversation-handler" v-if="conversation">
                              <div class="header">
                                    <i v-on:click="conversation = false" class="go-back fas fa-angle-left"></i>
                                    <h3> {{ isContact(conversation) }} <small> {{ numberByName(conversation) }} </small></h3>
                                    <h3> </h3>
                              </div>
                              <ul class="conversation" id="conversation">
                                    <li v-for="(msg, i) in getMessages"> 
                                       <h4 class="message" v-bind:class="{ sent: isSent(msg.type) }"> {{ msg.text }} </h4>
                                    </li>
                              </ul>
                              <div class="sending-msg-handler">
                                 <input type="text" class="message-composing" v-model="message.text">
                                 <button v-on:click="Send(conversation, message.text)" class="send-message" 
                                    :disabled="message.text.length < 1" >
                                       <i class="fas fa-arrow-up"></i> 
                                 </button>
                                    
                              </div>
                           </div>
                        </div>

                        <div class="page" v-if="phone.page == 'notes'">
                           <div class="header notes_header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> Beleške </h3>
                              <h3> </h3>
                           </div>
                           <textarea class="notes" v-model="phone.notes"> </textarea>
                        </div>

                        <div class="page" v-if="phone.page == 'wallet'">
                           <div class="header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> mBanking </h3>
                           </div>
                        </div>


                        <div class="page" v-if="phone.page == 'contacts'">
                           <div class="header">
                              <i v-on:click="phone.page = 'home'" class="go-back fas fa-angle-left"></i>
                              <h3> Kontakti </h3>
                              <i v-on:click="creatingContact = true" class="create-contact fa fa-plus" aria-hidden="true"></i>
                           </div>

                           <ul class="contacts">
                              <li class="contact" v-for="(contact, i) in contacts" v-el="right" v-on:click="showContactMenu()">
                                    <h3> {{ contact }} </h3>
                                    <small> {{ i }} </small>
                                    <!-- <ul id="right-click-menu" tabindex="-1" v-el="right" v-if="contactMenu.show" v-on="blur: contactMenu.show = false"  v-style="top:contactMenu.top, left:contactMenu.left">
                                       <li>First list item</li>
                                       <li>Second list item</li>
                                    </ul> -->
                              </li>

                              <!-- v-on:click="showContact(contact, i) -->
                           </ul>

                           <div class="single-contact" v-if="showingContact"> 
                              <div class="header">
                                    <i v-on:click="showingContact = false" class="go-back fas fa-angle-left"></i>
                                    <h3 class="contact-name"> {{ showingContact.name }} </h3>
                                    <i v-on:click="removeContact(showingContact.number)" class="create-contact fa fa-times" aria-hidden="true"></i>
                              </div>
                           </div>
                        </div>


                        <div class="page" v-if="phone.page == 'call'">
                           <div class="header transparent">
                              <i v-on:click="phone.page = 'home', call.number = ''" class="go-back fas fa-angle-left"></i>
                              <h3> Pozivi </h3>
                           </div>
                           
                           <ul class="calls" v-if="phone.calls == 'calls'">
                              <li v-for="(c, i) in calls">
                                    <h3> 
                                       {{ isContact(c.number) }} 
                                       <small v-if="c.status == 0"> Propušteni </small>
                                       <small v-if="c.status == 1"> Nadolazeći </small>
                                       <small v-if="c.status == 2"> Odlezeći </small>
                                    </h3> 

                                    <h3> {{ c.time }} </h3>
                              </li>
                           </ul>

                           <div v-else>
                              <ul class="digits">
                                    <h3 class="calling-number"> {{ call.number }} </h3>
                                    <li v-for="n in numbers" v-on:click="input('calling', n)">
                                       {{ n }}
                                    </li>
                                    <li class="call"><button :disabled="call.number.length < 2" v-on:click="Call(call.number)"> <i class="fa fa-phone" aria-hidden="true"></i> </button> </li>
                                    <li v-on:click="input('calling', -1)" class="delete"> <i class="fa fa-times" aria-hidden="true"></i> </li>
                              </ul>
                           </div>

                        </div>

                     </div>
                  </div>
               </div>
            </div>

        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let phone = new Vue({
                el: '#phone',
                data: {
                   
                    toggle: false,

                    numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
                    emojis: [
                        '😀','💓','😃','😄','😁','😆','😅','😂','🤣','😊','😇','🙂','🙃','😉','😌','😍','🥰','😘','😗',
                        '😙','😚','😋','😛','😝','😜','🤪','🤨','🧐','🤓','😎','👋','🤚','🖐','✋','🖖','👌','🤏','✌️','🤞',
                        '🤟','🤘','🤙','👈','👉','👆', 
                    ],

                    call: {
                        show: false,
                        incoming: false,
                        active: false,
                        number: '',
                        length: '00:00',
                        timer: null,
                    },

                    search: {
                        conversations: ''
                    },

                    contactMenu: { 
                        view: false,
                        top: '0px',
                        left: '0px'
                    },
                    
                    conversation: false,

                    message: { 
                        composing: false,
                        text: '',
                        to: null
                    },

                    sounds: {
                        sms: new Audio(),
                        typing: new Audio('src/sounds/typing.mp3'),
                        lock: new Audio('src/sounds/lock-sound.mp3'),
                        calling: new Audio('src/sounds/calling.mp3')
                    },
                
                    phone: { 
                        active: true,
                        page: 'home',
                        number: 321245,
                        style: 'ifruit',
                        notes: 'vale very gud is boy',
                        background: '2',
                        calls: 'call',
                        locked: true,
                        melody: '1',
                        brightness: 1,
                        time: this.Time,
                    },

                    contacts: {
                        '243242': 'Narkoman Onaj',
                        '332123': 'Batocanin',
                        '3256': 'Marko Koprivanac',
                        '34567': 'Kurva',
                        '3234': 'Vale Gey',
                        '4457': 'Boro Taxi',
                        '96678': 'Flashbing LGBT Lobby',
                        '34533': 'Muslim center',
                        '35787': 'Adadawb Ce',
                        '8784': 'Adadawb Ce',
                        '64588': 'Adadawb Ce',
                        '43576': 'Adadawb Ce',
                    },

                    creatingContact: false,
                    showingContact: false,

                    conversations: [],

                    messages: [
                        { number: '243242', text: 'Ej brate imas li vutre ?', type: 'from' },
                        { number: '243242', text: 'Eeeeee', type: 'from' },
                        { number: '243242', text: 'Moliim', type: 'to' },
                        { number: '243242', text: 'Opalim te golim', type: 'from' },
                        { number: '243242', text: 'Ej brate imas li vutre ?', type: 'from' },
                        { number: '243242', text: 'Ej brate imas li vutre ?', type: 'from' },

                        { number: '243242', text: 'Eeeeee', type: 'from' },
                        { number: '321199', text: 'Eeeeee', type: 'to' },
                        { number: '064915', text: 'Brate jesi tu ?', type: 'to' },


                    ],

                    calls: [
                        { number: '243242', time: '23:24', status: 0 },
                        { number: '243242', time: '23:24', status: 2 },
                        { number: '243242', time: '23:24', status: 1 },
                        { number: '243242', time: '23:24', status: 2 },
                        { number: '243242', time: '23:24', status: 1 },
                    ]
                    

                },

               created() {
                  this.Time();
               },

               computed: { 
                  Conversations: function () { 
                     let filtered = [... new Set(this.messages.map(data => data.number))]
                     this.conversations = [];
                     for (let c of filtered) { 
                           let lastMsg = this.messages.find(msg => msg.number === c);
                           this.conversations.push({ number: this.isContact(lastMsg.number), text: lastMsg.text });
                           this.conversations.sort().reverse();
                     }
                     if (this.search.conversations.length == 0) { 
                           return this.conversations.sort();
                     } else { 
                           return this.conversations.sort().filter(conversation => {
                              return conversation.number.toLowerCase().includes(this.search.conversations.toLowerCase())
                           })
                     }
                  },

                  getMessages: function () { 
                     let messagges = {};
                     messagges = this.messages.filter(msg => msg.number === this.numberByName(this.conversation));
                     return messagges;
                  },
               },

               methods: { 

                  Toggle: function () { 
                     this.sounds.lock.play();
                     this.phone.active = !this.phone.active;
                     this.phone.locked = this.phone.active;
                     setTimeout(() => { this.phone.page = 'home'; }, 700);
                  },

                  dayNight: function () { 
                     let now = new Date().toLocaleString('en-GB', { timeZone: 'Europe/Belgrade' });
                     let split = now.split(','), time = split[1].split(':'), hours = time[0];
                     hours = parseInt(hours)
                     return hours > 5 && hours < 21 ? ( 'day' ) : ( 'night' );
                  },

                  isSent: function (type) { 
                     return type == 'to' ? true : false;
                  },

                  input: function (e, i) { 
                     switch (e) { 
                           case 'calling': { 
                              if (i == -1) { 
                                 this.call.number = this.call.number.slice(0, -1); 
                              } else { 
                                 let audio = new Audio('src/sounds/' + i + '.mp3');
                                 audio.volume = 0.1;
                                 audio.play();
                                 this.call.number += i; 
                              }
                              break;
                           }
                     }
                  },

                  Send: function (target, message) { 
                     this.message.text = '';
                     let elementic = document.getElementById('conversation')
                     elementic.scrollTo({ top: elementic.scrollHeight, behavior: 'smooth' })
                     if (target == parseInt(target)) { 
                           this.messages.push({ number: target, text: message, type: 'to' })
                           // mp.trigger('client:player.phone.message', target, message);
                     } else { 
                           let number = this.numberByName(target)
                           this.messages.push({ number: number, text: message, type: 'to' })
                           // mp.trigger('client:player.phone.message', number, message);
                     }
                  },

                  Hangup: function () { 
                     this.call.active = false;
                     this.call.show = false;
                     this.call.number = '';
                     this.sounds.calling.pause();
                     this.sounds.calling.currentTime = 0;
                     clearTimeout(this.call.timer);
                  },

                  Call: function (number) { 
                     this.phone.page = 'home';
                     this.call.show = true;
                     this.call.active = false;
                     this.call.number = number;
                     this.sounds.calling.play();
                     this.sounds.calling.volume = 0.80;
                     this.call.timer = setTimeout(() => {
                           if (this.call.active == false) { 
                              this.call.show = false;
                              this.call.active = false;
                              this.call.number = '';
                           }
                     }, 50 * 1000);
                  },

                  numberByName: function (name) {
                     if (name == parseInt(name)) { return name; } 
                     else { 
                           for (let i in this.contacts) { 
                              if (this.contacts[i].toLowerCase() == name.toLowerCase()) { 
                                 return i;
                              }
                           }
                     }
                  },

                  Time: function () { 
                     let now = new Date().toLocaleString('en-GB', { timeZone: 'Europe/Belgrade' });
                     let split = now.split(','), time = split[1].split(':')
                     this.phone.time = time[0] + ':' + time[1];

                     setTimeout(() => { this.Time(); }, 1000);
                  },

                  isContact: function (i) { 
                     if (this.contacts[i]) { return this.contacts[i]; } else { return i; }
                  },


                  addContact: function (phone, number) { 

                  },

                  removeContact: function (i) { 
                     this.showingContact = false;
                     delete this.contacts[i];
                  },

                  showContact: function (name, i) { 
                     this.showingContact = { name: name, number: i };
                     console.log(this.showingContact)
                  },

                  showContactMenu: function (top, left) { 
                     largestHeight = window.innerHeight - this.$$.right.offsetHeight - 25;
                     largestWidth = window.innerWidth - this.$$.right.offsetWidth - 25;

                     if (top > largestHeight) top = largestHeight;

                     if (left > largestWidth) left = largestWidth;

                     this.contactMenu.top = top + 'px';
                     this.contactMenu.left = left + 'px';

                     console.log(this.contactMenu)
                  }
               }
            })
        </script>
    </body>     
</html>


