html, body {
    background: rgba(0 0 0 / 35%);
    height: 100%;
    overflow:hidden;
    display: grid;
}
 
.login {width: 900px;height: 400px;position: relative;margin: auto;box-shadow: 0 14px 25px rgb(0 0 0 / 16%);background: linear-gradient(90deg, rgb(103 35 118 / 40%), rgb(4 149 232 / 64%)), url(images/background.png);background-size: cover;border-radius: 20px;}
.login .header {width: 100%;padding: 10px 20px;position: relative;overflow: hidden;}
.login h4 {display: inline-block;font-weight: 400;text-transform: uppercase;color: white;letter-spacing: 1.3px;}
.login h4 small { display: block; font-size: 11px; font-weight: 200; color: whitesmoke; }

.login .auth-form {width: 400px;margin: 0 auto;position: absolute;height: 500px;backdrop-filter: blur(35);border-radius: 5px;background: rgb(0 0 0 / 44%);right: 15%;box-shadow: 0 14px 25px rgb(0 0 0 / 16%);top: -8.5%;text-align: center;}
.login .auth-form input {border: none;border-bottom: 1px solid rgb(255 255 255);display: block;margin: 0 auto;margin-top: 20px;background: transparent;padding: 1px 10px;color: grey;transition: all 0.5s ease;font-weight: 100;}
.login .auth-form input:focus { outline: none; color: white; outline: none; }
.login .logo { width: 65px; bottom: 15px; left: 15px; position: absolute; }

.login .auth-form button {
    color: white; display: block; margin: 0 auto; outline: none; font-size: 21px; box-shadow: 0 14px 25px rgb(0 0 0 / 16%); background: #0694e7; padding: 5px 50px; 
    margin-top: 10px;font-weight: 100; border: none; letter-spacing: 2px; transition: all 0.5s ease; position: relative;  overflow: hidden; text-transform: uppercase;
}
.login .auth-form button .icon {position: absolute;transform: rotate(10deg);font-size: 50px;left: 5%;top: -5%;opacity: 0.2;transition-duration: 0.3s;color: white;}
.login .auth-form button:hover { opacity: 0.9; cursor: pointer; }
.login .auth-form button:hover .icon { transform: rotate(0deg); font-size: 65px; }
::placeholder { color: #ababab; opacity: 0.8; font-weight: 100 !important; text-transform: uppercase; letter-spacing: 2px; }

.login .auth-form .holder {margin-top: 30%;}

.login .auth-form .footer {width: 100%;position: absolute;background: rgb(0 0 0 / 31%);bottom: 10px;}
.login .auth-form .footer p {margin: 0;padding: 10px 20px;text-transform: uppercase;font-weight: 300;color: #dadada;font-size: 12px;letter-spacing: 1.2px;}

.login .auth-form .error {width: 90%;color: tomato;font-weight: 400;position: absolute; display: none; font-size: 18px;text-align: center;left: 20px;top: 10px;border-radius: 10px;padding: 10px;background: rgb(0 0 0 / 29%);transition: all 0.5s ease;}

