html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  padding: 0;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.server {width: 100%;position: absolute;bottom: 0;text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%);padding-top: 5px;text-align: center;display: none;}
.server .site {text-transform: uppercase;font-size: 25px;font-weight: 200 !important;letter-spacing: 3px;color: whitesmoke;}
.server .site .focus-rp {background: linear-gradient( 90deg , rgb(156 45 181), rgb(4 149 232 / 74%));background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 700;text-shadow: none;filter: drop-shadow(0px 1px #000);}
.server .online::before { content:""; display: block; margin: 0 auto; height: 1px; width: 300px; background: rgb(245 245 245 / 44%); margin-bottom: 5px; box-shadow: 1px 1px 3px rgb(0 0 0 / 48%); }
.server .online {display: block;color: #f7f7f7;font-size: 19px;font-weight: 300;letter-spacing: 2px;}
.server .online .icon { color: #868686;}

.player { right: 2%; top: 2%; position: absolute; width: 300px; }
.player .money {text-align: right;font-weight: 700;color: #84b879;font-size: 35px;text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%);letter-spacing: 2px;}

.player .player-id { 
  position: absolute;
  color: white;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%);
  top: 0;
  font-size: 13px;
  right: 0;
}

.location-time {left: 11.5%;bottom: 2%;position: absolute;width: 400px;/* height: 150px; */}

.location { letter-spacing: 1px; left: 31%;bottom: 1px;position: relative;width: 400px;padding: 5px 30px;text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%);}
.location .icon {position: absolute;left: 0;top: 35px;color: #868782;width: 20px;}
.location .current-heading {margin: 0;font-size: 24px;letter-spacing: 1px;font-weight: 400;color: whitesmoke;}
.location .current-zone {margin: 0;font-size: 18px; font-weight: 500;color: whitesmoke;}
.location .current-street {margin: 0;font-size: 17px;font-weight: 400;color: #c7c7c7;}

.date-time {left: 31%; padding: 5px 30px; position: relative; letter-spacing: 1px; text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%); }
.date-time .icon {position: absolute;left: 0;top: 16px;color: #868782;width: 20px;}
.date-time .current-time { margin: 0; font-size: 18px; font-weight: 500; color: whitesmoke; }
.date-time .current-date {margin: 0;font-size: 17px;font-weight: 500;color: #d0d0d0;}

.notif {left: 1.1%;bottom: 245px;width: 300px;min-height: 50px;height: auto;position: absolute;}
.notif .notification {margin-top: 10px;word-wrap: break-word;font-family: "Roboto";background: rgb(0 0 0 / 35%);height: auto;padding: 10px 15px;font-weight: 400;font-size: 16px;border-radius: 5px;text-shadow: -1px -1px 0 rgb(0 0 0 / 15%), 1px -1px 0 rgb(0 0 0 / 15%), -1px 1px 0 rgb(0 0 0 / 15%), 1px 1px 0 rgb(0 0 0 / 15%);box-shadow: 0 1px 1px rgb(0 0 0 / 30%);color: white;animation: slide 1s;border-left: 7px solid transparent;}
.greska { border-color: #d9534f !important;   }
.uspesno { border-color: #5cb85c !important;}
.info { border-color: #0495e8 !important; }

@keyframes slide {
  from { transform: translateY(60px); }
  50% { transform: translateY(-5px); } 
  to { transform: translateY(0); }
}

.vehicle {right: 1%;bottom: 1%;position: absolute;width: 400px;height: auto;}
.vehicle #speedo {right: 0;bottom: 10px;position: absolute;}
.vehicle .veh-info {position: absolute;bottom: 60px;width: 110px;text-align: center;left: 195px;text-shadow: -1px -1px 0 rgb(0 0 0 / 35%), 1px -1px 0 rgb(0 0 0 / 35%), -1px 1px 0 rgb(0 0 0 / 36%), 1px 1px 0 rgb(0 0 0 / 35%);}
.vehicle .veh-info h1 { color: white; margin: 0; padding: 0; } 
.vehicle .veh-info h4 {color: #f4f4f4;text-transform: uppercase;letter-spacing: 2px;margin: 0;padding: 0;letter-spacing: 4px;font-size: 13px;}
.vehicle .fuel-icon {width: 18px;position: absolute;right: 120px;bottom: 22px;}
.vehicle .lights-icon {width: 18px;position: absolute;right: 160px;bottom: 22px;}


.black_screen { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: black; z-index: 2; }