
body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #8e8e8e;
   margin: 0;
   width: 100%;
   height: 100vh;
   background: transparent;
   padding: 0;
   position: relative;
   overflow: hidden;
   display: grid;
}

body::after { width: 100%; height: 100%; position: absolute; content: ''; background: rgb(0 0 0 / 40%); z-index: 1; top: 0; }

#atm {
   width: 400px;
   height: 500px;
   margin: auto;
   background: #ffffff;
   box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
   animation: slide-in 1s;
   position: relative;
   border-radius: 10px;
   transition: all 0.4s ease;
   z-index: 2;
}

.logged { width: 750px !important; }

.header {width: 100%;position: relative;height: 50px;display: flex;justify-content: center;align-items: center;}
.close {position: absolute;top: 25px;right: 30px;padding: 4px 8px;border-radius: 5px;transition: all 0.5s ease;color: #1f1f1f;background: #ececec;border: 1px solid rgb(128 128 128 / 3%);font-size: 24px;}
.close:hover { opacity: 0.5; }

.header .logo-holder {
   width: 150px;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px;
   border-radius: 100%;
   background: rgb(104 67 195 / 40%);
   z-index: 2;
   position: relative;
   animation: floyd 2.0s infinite ease;
   box-shadow: 11.137px 20.384px 60px 0px rgb(118 76 224 / 11%), 0px 0px 51px 0px rgb(104 67 195 / 33%);
}

.logo-holder::before { content: ''; position: absolute; border-radius: 100%; width: 140px; height: 140px; left: 18px; z-index: 1; top: 16px; background: #492e8d; }

.header img { width: 100px; height: 100px; position: relative; z-index: 4; }

.authorization {margin: auto;display: flex;justify-content: center;align-items: center;width: 325px;height: 450px;position: relative; transition: all 0.5s ease; }
.authorization button.login {box-shadow: 0 5px 15px rgb(255 205 29 / 0.4);color: whitesmoke;position: absolute;bottom: -25px;padding: 15px 70px;font-size: 24px;border: none;border-radius: 50px;text-transform: uppercase;letter-spacing: 2px;background: #ffcd1d;transition: all 0.35s ease;}
button.login:hover { color: white;filter: brightness(1.05);box-shadow: 0 5px 15px rgb(255 205 29 / 0.6); }
button:focus { outline: none; }
.digits {display: flex;justify-content: space-around;flex-wrap: wrap;width: 190px;margin-top: 15px;}
.digits h4.welcome {width: 100%;margin: 5px 0;color: #5a5a5a;font-weight: 300;font-size: 16px;text-align: center;}
.digits .digit {font-size: 18px;color: #5e3faf;width: 50px;border: 1px solid transparent;height: 40px;transition: all 0.35s ease;display: flex;justify-content: center;align-items: center;border-radius: 5px;background: #ececec;margin: 5px;}
.digits .digit:hover { color: black; background: white; border-color: rgb(236 236 236); }
.digits .cc {font-size: 18px;color: #ff6767;width: 90px;border: 1px solid transparent;height: 40px;transition: all 0.35s ease;display: flex;justify-content: center;align-items: center;border-radius: 5px;background: #ececec;margin: 5px;}
.digits .cc:hover { color: black; background: white; border-color: rgb(236 236 236); }
.digits .pin-input {font-size: 18px;width: 200px;height: 40px;display: flex;background: #ececec;border-radius: 5px;/* border-bottom: 2px solid #dadada; */justify-content: center;align-items: center;margin: 10px 0;color: #5d5d5d;}


.dashboard {width: 725px;height: 415px;padding: 5px;margin: auto;margin-top: 20px;display:flex;justify-content: space-between;}

.account {width: 250px;height: 100%;border-radius: 10px;background: whitesmoke;align-items: center;position: relative;display:flex;flex-direction: column;}
.account .profile {width: 260px;height: 90px;background: white;padding: 20px 0;border-radius: 15px;margin-top: 20px;border: 1px solid rgb(128 128 128 / 15%);box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;position:relative;}
.profile h2 {margin: 0;padding: 0 15px;text-transform: uppercase;letter-spacing: 1.3px;font-size: 18px;}
.profile small {margin: 0;padding: 0 15px;text-transform: uppercase;letter-spacing: 1px;color: #a0a0a0;font-weight: 300;}
.profile .balance {position: absolute;background: linear-gradient(45deg,#49c746,#65e661);width: 200px;border-radius: 10px;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);bottom: -15px;left: 15px;height: 50px;display: flex;color: white;align-items: center;}

.account .navigation {position: absolute;bottom: 5px;list-style: none;padding: 0;margin: 0;flex-wrap: wrap;display:flex;justify-content: center;}
.navigation li {overflow: hidden;width: 100px;height: 100px;margin: 6px;border-radius: 5px;justify-content: center;align-items: center;text-transform: uppercase;background: #ffffff;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);text-align: center;font-size: 10px;position: relative;color: #3e3e3e;display: flex;transition: all 0.35s ease;}
.navigation li i {position: absolute;font-size: 90px;color: #000000;transform: rotate(10deg);opacity: 0.05;bottom: -10px;left: -20px;transition: all 0.35s ease;}
.navigation li:hover { filter: brightness(1.05); }
.navigation li h3 { z-index: 3; position: relative; }
.navigation li:hover i { transform: rotate(0deg); font-size: 100px;}
.navigation li.active {color: white;background: #ffcd1d;box-shadow: 0 5px 15px rgb(255 205 29 / 45%);}
.navigation li.active i { color: white; opacity: 0.15; }


.informations { list-style: none; padding: 0; }
.informations li {width: 325px;padding: 15px 20px;background: #ffffff;margin: 15px 0;display: flex;flex-wrap: wrap;justify-content: space-between;border-radius: 10px;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);}
.informations li h3 { margin: 0; text-transform: uppercase; }


.page {overflow: hidden; position: relative; width: 450px;height: 100%;border-radius: 10px;display: flex;justify-content: center;align-items: center;background: whitesmoke;}

.notification {position: absolute;bottom: 20px;right: 20px;width: auto;padding: 10px 25px;transition: all 0.35s ease; animation: notification 1.5s; color: white;background: #492e8d;box-shadow: 0 5px 15px rgb(103 68 191 / 65%);border-radius: 5px;}

button.cash-me-outside {box-shadow: 0 5px 15px rgb(93 221 89 / 15%);color: whitesmoke;padding: 5px 20px;border: none;font-size: 14px;border-radius: 5px;text-transform: uppercase;letter-spacing: 2px;background: #5ddd59;transition: all 0.35s ease;}
button.cash-me-outside:hover { box-shadow: 0 5px 15px rgb(93 221 89 / 55%); filter: brightness(1.1); }
button.cash-me-outside:disabled,
button.cash-me-outside[disabled]{ background-color: #cccccc; opacity: 0.4; box-shadow: none; color: #666666; }
button.cash-me-outside:disabled:hover { filter: none; }

.withdraw-handler {width: auto;background: #ffffff;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);border-radius: 10px;position: relative;}

.withdraw-handler button.withdraw {position: absolute;border: none;width: 55px;right: -13px;top: -9px;height: 55px;font-size: 24px;transition: all 0.35s ease;color: whitesmoke;background: linear-gradient(45deg,#49c746,#65e661);border-radius: 100%;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);}
button.withdraw[disabled]{background: #e4e4e4;box-shadow: none;color: #ababab;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);}
button.withdraw:disabled:hover { filter: none; }


.deposit-handler {width: auto;background: #ffffff;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);border-radius: 10px;position: relative;}

.deposit-handler button.deposit {position: absolute;border: none;width: 55px;right: -11px;top: -9px;height: 55px;font-size: 24px;transition: all 0.35s ease;color: whitesmoke;background: linear-gradient(45deg,#49c746,#65e661);border-radius: 100%;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);}
button.deposit[disabled]{background: #e4e4e4;box-shadow: none;color: #ababab;box-shadow: 0 3px 7px rgb(0 0 0 / 15%);}
button.deposit:disabled:hover { filter: none; }

input {
   border: 1px solid rgba(0,0,0,.125);
   border-radius: 5px;
   color: #666;
   font-size: 14px;
   font-weight: 700;
   padding: 10px 21px;
   box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

input:focus { outline: none; }

.fade-out { opacity: 0; }

.page-title { text-transform: uppercase; font-weight: 400; }

* { user-select: none; }

@keyframes slide-in {
   0% { transform: translateY(-800px); }  
   100% { transform: translateX(0); }
}

@keyframes notification {
   0% { transform: translateY(200px); }
   100% { transform: translateY(0); }
}

@keyframes floyd {
   0% { transform: scale(0.95); }
   50% { transform: scale(1.05); }
   100% { transform: scale(0.95); }
}
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track {background: #dedede;}
::-webkit-scrollbar-thumb {background: #8537b2;}
