<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>

        <div id="id">
            <div class="header header_bottom">
                <h2> Država San Andreas </h2>
                <h4> lična karta </h4>
            </div>

            <ul class="info">
                <li>I. Ime: <b> {{ player.name }} </b></li>
                <li>II. Prezime: <b> {{ player.lastname }} </b></li>
                <li>III. Datum rodjenja: <b> {{ player.birth }} </b></li>
                <li>IV. Mesto rodjenja: <b> {{ player.origin }} </b></li>
            </ul>

            <ul class="licenses">
                <li>V. Dozvole: 
                    <b v-if="player.licenses.length > 0" v-for="(license, key) in player.licenses">
                        {{ license }}
                    </b>
                </li>
            </ul>

            <ul class="data">
                <li> <b>B</b> - motorna vozila</li>
                <li> <b>C</b> - teretna vozila</li>
                <li> <b>D</b> - plovidbena vozila</li>
                <li> <b>F</b> - vazduhoplovna vozila</li>
            </ul>

            <img class="gov-logo" src="src/images/ls-gov.png" />
        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let id = new Vue({
                el: '#id',
                data: {
                    player: { 
                        name: 'Zachary',
                        lastname: 'Parker',
                        birth: '11 / 06 / 2001',
                        origin: 'Fort Carson',
                    }
                },

                methods: { 

                }
            })

        </script>
    </body>     
</html>
