<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>
        <div id="house" v-if="toggle">
            <div class="management">
                <ul class="navigation">
                    <li v-on:click="active = 'home'" :class="{ active:active === 'home' }" > Osnovno</li>
                    <li v-on:click="active = 'inventory'" :class="{ active:active === 'inventory' }" > Inventar</li>
                    <li v-on:click="active = 'clothes'" :class="{ active:active === 'clothes' }" > Ormar</li>
                    <li v-on:click="active = 'renting'" :class="{ active:active === 'renting' }" > Izdavanje</li>
                </ul>

                <i v-on:click="close()" aria-hidden="true" class="close fa fa-times"></i>
                
                <div class="info" v-if="active == 'home'">
                    <h2 class="title"> Osnovne Informacije </h2>
                    <ul class="informations">
                        <h3> </h3>
                    </ul>
                </div>
            </div>
        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let house = new Vue({
                el: '#house',
                data: {

                    toggle: true,

                    active: 'home',

                    player: {
                        money: null,
                        owner: true
                    },

                    house: { 
                        location: 'Los Santos Hollywood',
                        id: '3',
                        locked: false,
                        rent: false,
                        money: 0,
                        tenants: {},
                        items: {}
                    },

                },


                methods: { 
 
                    close: function () { mp.trigger('client:player.house.management'); },

                    disable: function (i) { 
                        this.stations[i].active = false;
                        let element = document.getElementById('stations')
                        element.scrollTo({ top: element.scrollTop + 20, behavior: 'smooth' })
                    }
                }
            })


        </script>
    </body>     
</html>
