<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>
        <div id="house">
            <div class="management">
                <ul class="navigation">
                    <li v-on:click="active = 'home'" :class="{ active:active === 'home' }" > <i class="fa fa-home" aria-hidden="true"> </i> </li>
                    <li v-on:click="active = 'inventory'" :class="{ active:active === 'inventory' }" > <i class="fa fa-list-alt" aria-hidden="true"> </i> </li>
                    <li v-on:click="active = 'clothes'" :class="{ active:active === 'clothes' }" > <i class="fas fa-tshirt"> </i> </li>
                    <li v-on:click="active = 'renting'" :class="{ active:active === 'renting' }" > <i class="fa fa-users-cog"></i> </li>
                </ul>

                <i v-on:click="close()" aria-hidden="true" class="close fa fa-times"></i>
                
                <div class="page" v-if="active == 'home'">
                    <h2 class="title"> Osnovne Informacije </h2>
                    <ul class="informations">
                        <li>
                            <h2>Ulica i broj </h2>
                            <h3> {{ house.location }}, <b> {{ house.id }} </b></h3>
                        </li>

                        <li> 
                            <h2>Ulazna vrata</h2>
                            <h3 v-on:click="lock()" v-bind:class="{ locked: house.locked, unlocked: !house.locked }" > {{ house.locked ? 'Zaključana' : 'Otključana' }}</h3>
                        </li>

                        <li>
                            <h2>Cena Kuće</h2>
                            <h3> 
                                {{ moneyFormat(house.price) }} 
                                <small> porez {{ tax(house.price) }} </small>
                            </h3>
                        </li>
                    </ul>
                </div>

                <div class="page" v-if="active == 'inventory'">
                    <h2 class="title"> Inventar kuće </h2>
                    <ul class="items">
                        
                    </ul>
                </div>

                <div class="page" v-if="active == 'renting'">
                    <h2 class="title"> Izdavanje </h2>
                    <ul class="tenants">
                        <li v-for="(tenant, i) in house.tenants"> 
                            <h4> {{ tenant }}  </h4>
                            <button v-on:click="removeTenant(i, tenant)">Isteraj</button>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/vue.js"></script>
        <script>
            let house = new Vue({
                el: '#house',
                data: {

                    active: 'home',

                    player: {
                        money: null,
                        owner: true
                    },

                    house: { 
                        location: 'Los Santos Hollywood',
                        id: '3',
                        price: 25700,
                        locked: false,
                        rent: false,
                        money: 0,
                        tenants: [
                            'Vale Manelee', 'Boro MC Football', 'Batocann Gej', 'flashing blue', 'Zola gey'
                        ],
                        items: {}
                    },

                },


                methods: { 
 
                    close: function () { mp.trigger('client:house.management'); },

                    lock: function () { 
                        this.house.locked = !this.house.locked;
                        mp.trigger('client:house.doors', this.house.id, this.house.locked);
                    },

                    moneyFormat: function (i) { 
                        let formatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' });
                        return formatter.format(i);
                    },

                    removeTenant: function (i, name) { 
                        this.house.tenants.splice(i, 1);
                        mp.trigger('client:house.tenant.remove', )
                    },

                    tax: function (i) { 
                        let value = (this.house.price / 100) * 0.25;
                        return this.moneyFormat(value)
                    },

                    disable: function (i) { 
                        this.stations[i].active = false;
                        let element = document.getElementById('stations')
                        element.scrollTo({ top: element.scrollTop + 20, behavior: 'smooth' })
                    }
                }
            })


        </script>
    </body>     
</html>
