<!DOCTYPE html>
<html>
    <head>
        <!-- meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- source -->
        <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

        <link rel="stylesheet" type="text/css" href="src/style.css" />

    </head>
    <body>

        <div class="ground"> </div>

        <div id="inventory">
            <div class="clothing">

            </div>

            <!--  // v-if="player.items.length > 0" -->
            <div class="items">
                <div class="item" v-for="item in player.items" v-if="item" :key="item.id" v-on:click="use(item)" :data-id="item.id" >
                    <h2 class="name">{{ item.name }}</h2>
                    <img class="icon" :src="itemImage(item.hash)" />
                    <h4 class="quantity">{{ item.quantity }}</h4>
                </div>
            </div>

            <div class="weapons" >
                <div class="primary"> 
                    <div v-if="player.weapons.length > 0">
                        <h2 @click="weapon(0, player.weapons[0].id)"> {{ player.weapons[0] }} </h2>
                    </div>
                    <h5>primarno oružije</h5>
                    <img src="src/images/primary_weapon.png" />
                </div>
                <div class="secondary">
                    <div v-if="player.weapons.length > 0">
                        <h2 @click="weapon(1, player.weapons[1].id)"> {{ player.weapons[1].name }} </h2>
                    </div>
                    <h5>sekundarno oružije</h5>
                    <img src="src/images/secondary_weapon.png" />
                </div>
            </div>
        </div>
          
        <!-- scripts -->
        <script src="src/vendor/js/jquery-3.5.1.js"></script>
        <script src="src/vendor/js/jquery-ui.min.js"></script>
        <script src="src/vendor/js/vue.js"></script>
        <script>
            var inventory = new Vue({
                el: '#inventory',
                data: {
                    player: {
                        money: null, weapons: [], items: null,
                        clothing: [0, 0, 0, 0, 0],
                    },
                },

                methods: { 

                    load: function (items) { 
                        this.player.items = items;
                        console.log(JSON.stringify(items))
                    },

                    weapon: function (i) { 
                        console.log(this.player.weapons[i])
                        delete this.player.weapons[i];
                        console.log(this.player.weapons[i])

                    },

                    use: function (item) {
                        item = this.player.items.find(element => element === item);
                        let index = this.player.items.indexOf(item);                        
                        this.player.items.splice(index, 1);
                        mp.trigger('client:inventory.process.item', 'use', item.id)
                    },

                    drop: function (item) { 
                        item = this.player.items.find(element => element === item);
                        let index = this.player.items.indexOf(item);                        
                        this.player.items.splice(index, 1);
                        mp.trigger('client:inventory.process.item', 'drop', item.id)
                    },

                    itemImage: (hash) => { 
                        let source = 'src/images/items/' + hash + '.png'; 
                        return source;
                    }
                }
            })

            setTimeout(() => {
                $('.item').draggable({ revert: true });

                $(".ground").droppable({
                    accept: '.item',
                    drop: function(event, ui) {
                        let item = inventory.player.items.find(element => element.id === parseInt(ui.draggable[0].attributes[0].value))
                        inventory.drop(item)
                        $(".item").draggable({ revert: true });
                    }
                });
            }, 1000);

        </script>
    </body>     
</html>
