<!DOCTYPE html>
<html>
   <head>
      <!-- meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- source -->
      <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

      <link rel="stylesheet" type="text/css" href="src/style.css" />

   </head>
   <body>

      <div id="inventory">
         <div class="ground"> </div>

         <div class="main" v-bind:style="{ opacity: give.modal ? '0.2' : '1.0' }">

            <div class="clothing">
               <div class="header">
                  <h2> <i class="fas fa-tshirt" aria-hidden="true"> </i> Odeća </h2>
               </div>

               <ul class="clothes">
                  <li class="cloth" v-for="(name, i) in ClothingParts" v-on:click="Unequip(Clothings(name))"> 
                     <img :src="'src/images/items/' + ClothingIcons[i] + '.png'" :style="{ opacity: Clothings(name) ? 1 : 0.2 }"/>
                  </li>
               </ul>
            </div>

            <div class="inventory">
               <div class="header">
                  <h2> <i class="fa fa-list-alt" aria-hidden="true"> </i> Inventar </h2>
                  <input type="text" class="search" v-model="Search" placeholder="Pretraga..."> 
                  <h4> {{ Weight() }} <b>/ {{ player.maximum }} kg</b> </h4>
               </div>
               <div class="items">
                  <div class="item" v-for="(item, i) in PlayerItems" v-if="item.entity == entity.Player" v-on:click="Use(item.id)" v-on:contextmenu="Menu($event, item.id)" v-on:mouseenter="audio.hover.play()">
                     <img :src="'src/images/items/' + item.hash + '.png'" :alt="item.id" /> 
                     <h3 class="quantity"> {{ item.quantity }} </h3>
                  </div>
               </div>
            </div>

            <div class="wheel" v-if="vehicle.id == null">
               <div class="header">
                  <h2> <img src="src/icons/weapon.png" class="icon"> </i> Oružije </h2>
                  <h4> {{ Weapons().length }} <b>/ {{ wheelMaximum.length }} </b> </h4>
               </div>
               <div class="weapons">
                   <div class="weapon" v-for="i in wheelMaximum">
                     <div class="inner" v-if="Weapons()[i]" v-on:click="Put(Weapons()[i])">
                        <img class="photo" :src="'src/images/items/' + Weapons()[i].hash + '.png'" />
                        <h3 class="ammo"> {{ Weapons()[i].ammo }} </h3>
                     </div>
                     <div class="inner" v-else>
                        <i class="george-floyd fa fa-times" aria-hidden="true"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div v-else class="trunk">
               <div class="header">
                  <h2> <i class="fa fa-car" aria-hidden="true"> </i> Gepek Vozila </h2>
               </div>
               <div class="items">
                  <div class="item" v-for="(item, i) in vehicle.items" v-on:mouseenter="audio.hover.play()" v-on:click="Get(item)">
                     <img :src="'src/images/items/' + item.hash + '.png'" :alt="item.id" /> 
                     <h3 class="quantity"> {{ item.quantity }} </h3>
                  </div>
               </div>
            </div>
         </div>

         <transition name="bounce">
            <div class="give-modal" v-if="give.modal">
               <div class="give-box" >
                  <h2> <i class="fas fa-exchange-alt" aria-hidden="true"></i> Davanje Predmeta </h2>
                  <i v-on:click="give.modal = false, give.item = null" class="close fa fa-times" aria-hidden="true"> </i>

                  <h4 class="item-to-give"> Predmet za davanje <b>{{ Item(give.item).name }}</b> </h4>
                  <h4 class="item-to-give"> Količina 
                     <input type="number" min="1" v-model="give.quantity" :max="Item(give.item).quantity" :value="Item(give.item).quantity"
                     :class="{ 'invalid': give.quantity > Item(give.item).quantity || give.quantity < 1 }"> 
                  </h4>
                  <ul class="players-list" v-if="nearbyPlayers.length > 0">
                     <li v-for="(player, i) in nearbyPlayers" v-on:click="Give(player.id, give.item, give.quantity)"> 
                        <small> {{ player.id }}. </small>{{ player.name }}
                     </li>
                  </ul>
                  <h4 v-else> Nema igrača u vašoj blizini. </h4>
               </div>
            </div>
         </transition>

         <transition name="bounce">
            <ul class="options" v-if="menu.item" v-bind:style="{ top: menu.top + 'px', left: menu.left + 'px' }" ref="menu" tabindex="-1" v-on:blur="CloseMenu()">
               <h4> {{ player.items.find(element => element.id === menu.item).name }} </h4>
               <li v-on:click="Drop(menu.item)"> Baci Predmet </li>
               <li v-on:click="GiveTry(menu.item)"> Daj Predmet </li>
               <li v-if="vehicle.id" v-on:click="Trunk(menu.item)"> Prebaci u gepek </li>
            </ul>
         </transition>
      </div>

      <!-- scripts -->
      <script src="src/vendor/js/vue.js"> </script>
      <script>
         let inventory = new Vue({
            el: '#inventory',
            data: {
               player: {
                  money: null, 
                  maximum: 20,
                  items: [
                     // { id: 3, name: 'Hat', quantity: 1, entity: 0, ammo: 5, weight: 0.25, hash: 'prop_ld_hat_01' },
                     // { id: 4, name: 'Tops', quantity: 1, entity: 0, ammo: 0, weight: 0.25, hash: 'prop_ld_shirt_01' },
                     // { id: 5, name: 'Pants', quantity: 1, entity: 5, ammo: 0, weight: 0.25, hash: 'prop_ld_jeans_01' },
                     // { id: 6, name: 'Shoes', quantity: 1, entity: 0, ammo: 0, weight: 0.25, hash: 'v_ret_ps_shoe_01' }
                  ]
               },


               vehicle: {
                  id: null,
                  items: []
               },

               ClothingParts: ['Hat', 'Glasses', 'Mask', 'Tops', 'Undershirt', 'Armour', 'Pants', 'Shoes'],
               ClothingIcons: ['prop_ld_hat_01', 'xm_prop_x17_b_glasses_01', 'prop_michael_balaclava', 'prop_ld_shirt_01', 'prop_cs_tshirt_ball_01', 'prop_bodyarmour_03', 'prop_ld_jeans_01', 'v_ret_ps_shoe_01'],

               entity: { Player: 0, Wheel: 3, Equiped: 5 },

               give: { 
                  modal: false,
                  item: null,
                  quantity: null,
               },

               menu: {
                  item: null,
                  top: 0,
                  left: 0
               },

               Search: null,

               modal: null,
               selected: null,

               nearbyPlayers: [],

               audio: {
                  hover: new Audio('src/sounds/hover.mp3')
               },

               wheelMaximum: [0, 1, 2, 3]
            },

            computed: { 
               PlayerItems: function () { 

                  if (this.Search == null) 
                     return this.player.items;
                  
                  else 
                     return this.player.items.sort().filter(item => {
                        return item.name.toLowerCase().includes(this.Search.toLowerCase())
                     });
               },
            },

            methods: { 

               Menu: function (event, i) { 
                  this.menu.item = i;
                  this.menu.top = event.clientY - 5;
                  this.menu.left = event.clientX - 5;
                  
                  Vue.nextTick(function() { this.$refs.menu.focus(); }.bind(this));
                  event.preventDefault();
               },

               CloseMenu: function () { this.menu.item = null; },

               Weapons: function () { 
                  let list = [];
                  for (let item of this.player.items) { 
                     if (item.entity == this.entity.Wheel) list.push(item) 
                  }
                  return list;
               },

               Unequip: function (item) {
                  if (item) { 
                     mp.trigger('client:inventory.item:unequip', item.id)
                  }
               },

               Clothings: function (name) { 
                  const clothing = this.player.items.find(item => item.name == name && item.entity == this.entity.Equiped);
                  return clothing ? clothing : null;
               },

               Weight: function () { 
                  let weight = 0;
                  this.player.items.forEach(item => { 
                     if (item.entity == this.entity.Player) weight += (item.weight * item.quantity); 
                   });
                  return weight.toFixed(2);
               },

               Put: function (weapon) { 
                  mp.trigger('client:inventory.item.weapon:put', weapon.id)
               },

               Use: function (id) {
                  mp.trigger('client:inventory.item:use', id)
               },

               Item: function (id) {
                  for (let item of this.player.items) {
                     if (item.id == id) return item;
                  }
               },

               Drop: function (item) { 
                  this.menu.item = null;
                  item = this.player.items.find(element => element.id === item);
                  mp.trigger('client:inventory.item:drop', item.id, item.hash)
               },

               Trunk: function (item) {
                  this.menu.item = null;
                  item = this.player.items.find(element => element.id === item);
                  mp.trigger('client:inventory.item:trunk', this.vehicle.id, item.id)
               },

               Get: function (item) { 
                  mp.trigger('client:inventory.item.trunk:get', this.vehicle.id, item.id)
               },

               Give: function (player, item, quantity) {
                  if (this.give.quantity > this.Item(item).quantity) return;
                  this.give.item = null;
                  this.give.modal = false;
                  mp.trigger('client:inventory.item:give', player, item, quantity);
               },

               GiveTry: function (item) {
                  if (this.give.modal) return;
                  this.menu.item = null;
                  this.give.modal = true;
                  this.give.quantity = this.Item(item).quantity;
                  this.give.item = item;
                  mp.trigger('client:inventory.player:nearby');
               }
            }
         })
         

         //window.addEventListener('contextmenu', e => e.preventDefault());


      </script>
   </body>     
</html>
