<!DOCTYPE html>
<html>
   <head>
      <!-- meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- source -->
      <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

      <link rel="stylesheet" type="text/css" href="src/style.css" />

   </head>
   <body>

      <div id="inventory">
         <div class="ground"> </div>

         <div class="main">
            <div class="clothing">

            </div>

            <div class="inventory">
               <div class="header">
                  <h2> <i class="fa fa-list-alt" aria-hidden="true"> </i> Inventar </h2>
                  <h4> {{ Weight() }} <b>/ {{ player.maximum }} kg</b> </h4>
               </div>
               <div class="items">
                  <div class="item" v-for="(item, i) in player.items" v-on:contextmenu="Menu($event, item.id)" >
                     <img :src="'src/images/items/' + item.hash + '.png'" :alt="item.id" /> 
                     <h3 class="quantity"> {{ item.quantity }} </h3>
                  </div>
               </div>
            </div>

            <div class="wheel">
               <div class="header">
                  <h2> <img src="src/icons/weapon.png" class="icon"> </i> Oružije </h2>
                  <h4> {{ player.wheel.length }} <b>/ {{ wheelMaximum.length }} </b> </h4>
               </div>
               <div class="weapons">
                  <div class="weapon" v-for="i in wheelMaximum">
                     <div class="inner" v-if="player.wheel[i]">
                        <img class="photo" :src="'src/images/items/' + player.wheel[i].hash + '.png'" />
                        <h3 class="ammo"> {{ player.wheel[i].ammo }} </h3>
                     </div>
                     <div class="inner" v-else>
                        <i class="george-floyd fa fa-times" aria-hidden="true"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <transition name="bounce">
            <ul class="options" v-if="menu.item" v-bind:style="{ top: menu.top + 'px', left: menu.left + 'px' }" ref="menu" tabindex="-1" v-on:blur="CloseMenu()">
               <h4> {{ player.items.find(element => element.id === menu.item).name }} </h4>
               <li v-on:click="Drop(menu.item)"> Baci Predmet </li>
               <li> Daj Predmet </li>
            </ul>
         </transition>
      </div>

      <!-- scripts -->
      <script src="src/vendor/js/vue.js"> </script>
      <script>
         let inventory = new Vue({
            el: '#inventory',
            data: {
               player: {
                  money: null, 
                  maximum: 25,
                  items: [
                     { id: 1, name: 'Cigarete', hash: 'prop_cigar_pack_01', quantity: 20, weight: 0.002 },
                     { id: 2, name: 'Burger', hash: 'prop_cs_burger_01', quantity: 1, weight: 0.3 },
                     { id: 3, name: 'Radio Prijemnik', hash: 'prop_cs_hand_radio', quantity: 4, weight: 0.25 },
                     { id: 4, name: 'Combat Pistol', hash: 'w_pi_sns_pistolmk2', quantity: 1, weight: 1.01 },
                     { id: 5, name: 'Pistol Mag', hash: 'w_pi_combatpistol_mag2', quantity: 3, weight: 0.8 },
                     { id: 6, name: 'Upaljac', hash: 'p_cs_lighter_01', quantity: 2, weight: 0.07 },
                     { id: 7, name: 'Flasa Vode', hash: 'prop_ld_flow_bottle', quantity: 2, weight: 0.1 },
                     { id: 8, name: 'Cigarete', hash: 'prop_cigar_pack_01', quantity: 20, weight: 0.002 },
                     { id: 9, name: 'Burger', hash: 'prop_cs_burger_01', quantity: 1, weight: 0.3 },
                  ], 
                  wheel: [
                     { id: 10, name: 'Combat Pistol', hash: 'w_pi_combatpistol', ammo: 2 }
                  ],
            
                  clothing: [1, 11, 8, 4, 6],
               },

               menu: {
                  item: null,
                  top: 0,
                  left: 0
               },

               wheelMaximum: [0, 1, 2, 3],
               clothingNames: ['hat', 'shirt', 'undershirt', 'bottoms', 'shoes']
            },

            methods: { 

               Menu: function (event, i) { 
                  this.menu.item = i;
                  this.menu.top = event.clientY - 5;
                  this.menu.left = event.clientX - 5;
                  
                  Vue.nextTick(function() {
                     this.$refs.menu.focus();
                  }.bind(this));

                  event.preventDefault();
               },

               CloseMenu: function () { 
                  console.log('aa');
                  this.menu.item = null;

               },

               Weight: function () { 
                  let weight = 0;
                  this.player.items.forEach(item => { weight += (item.weight * item.quantity); });
                  return weight.toFixed(2);
               },


               weaponBack: function (weapon) { 
                  weapon = this.player.weapons.find(element => element === weapon);
                  let index = this.player.weapons.indexOf(weapon);          
                  this.player.weapons.splice(index, 1);
                  mp.trigger('server:inventory.weapon.put', weapon.id)
               },

               clothing: function (index) {
                  mp.trigger('client:inventory.process.clothing', index)
               },

               use: function (item) {
                  item = this.player.items.find(element => element.id === item);
                  let index = this.player.items.indexOf(item);                        
                  this.player.items.splice(index, 1);
                  mp.trigger('client:inventory.item.use', item.id)
               },

               Drop: function (item) { 
                  this.menu.item = null;
                  item = this.player.items.find(element => element.id === item);
                  let index = this.player.items.indexOf(item);                        
                  this.player.items.splice(index, 1);
                  mp.trigger('client:inventory.item.drop', item.id, item.hash)
               }
            }
         })
         

         //window.addEventListener('contextmenu', e => e.preventDefault());


      </script>
   </body>     
</html>
