
body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 1.5;
   color: #8e8e8e;
   margin: 0;
   width: 100%;
   height: 100vh;
   padding: 0;
   position: relative;
   overflow: hidden;
}

#weapons { justify-content: center; align-items: center; display: flex; width: 100%; height: 100%; }

.weapons {
   width: 525px;
   height: 525px;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
#selector { overflow: visible; }

path, circle {
   transition: all 0.2s ease-in-out;
   transform: scale(0.90);
   fill: rgb(0 0 0 / 50%);
   transform-origin: center center;
   stroke-dasharray: 100 0;
   stroke: transparent;
   stroke-width: 2;
}

path:hover, circle:hover  {
   transition: all 0.2s ease-in-out;
   transform: scale(0.93);
   stroke: #fdc929;
}

g image { transition: all 0.2s ease; }

g:hover image { filter: brightness(1.25); }
 
 
 
* {
   user-select: none;   
}


* {text-shadow: 0px 1px 1px rgb(0 0 0 / 45%);}
* { user-select: none; }

