<!DOCTYPE html>
<html>
<head>
   <!-- meta tags-->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <!-- source -->
   <link rel="stylesheet" type="text/css" href="src/vendor/css/fonts.css" />
   <link rel="stylesheet" type="text/css" href="src/vendor/css/font-awesome.css" />

   <link rel="stylesheet" type="text/css" href="src/style.css" />

</head>
<body>
   <div id="start" v-if="toggle">


      <div class="login" v-if="page == 'login'">
      
         <div class="header">
            <h2> Focus Roleplay </h2>
            <h4>www.focus-rp.com</h4>
         </div>


         <div class="authentication">



            <label class="info" for="passsword"> Korisničko ime </label>
            <input type="text" name="username" v-model="login.username" />

            <label class="info" for="passsword"> Korisnička šifra </label>
            <input type="password" name="passsword" v-model="login.password" />

            <h4 class="forgoten-password"> Zaboravljena lozinka ? </h4>

            <button class="login"> Prijavi Se </button>
         </div>

      
      </div>

      <div class="selector" v-if="page == 'selector'">

      </div>
      
      <div class="notification" v-if="notification"> {{ notification }} </div>


   </div>
      
   <!-- scripts -->
   <script src="src/vendor/js/vue.js"></script>
   <script>

      let start = new Vue({
         el: '#start',
         data: {      
            toggle: true,
            page: 'login',
            login: { username: null, password: null },
           
            player: { 
               name: '',
               email: '',
               administrator: '',
            },

            genders: ['Muško', 'Žensko'],

            characters: {
               1: { name: 'Zachary Parker', gender: 1, birth: '11.06.1994', origin: 'Las Venturas', faction: 'Los Santos Police Department', job: 'Los Santos Transit', hours: 5, xp: 43 }
            },

            notification: false
         },


         methods: { 


            Login: async function () { 
               let username = this.login.username, password = this.login.password;
               let response = await mp.trigger('client:login.send:credentials', username, password);
               response ? ( selector ) : ( this.Notify(response.message) )
            },

            Notify: function (message) { 
               this.notification = message;
               setTimeout(() => { this.notification = false }, 5000);
            }



        
         }
      })
   </script>
</body>     
</html>
